{% extends 'base.html'  %}
{% load static %}
{% block content %}
{% load custom_filters %}
<br/>
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<div class="row" style="padding-left: 60px;  padding-right: 60px; background: #fff; align-content: center; color: white; border-radius: 10px">
    <div class="col-8">
        <div class="accordion" id="accordionExample">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Outcome Information</li>
                </ol>
            </nav>
            <div class="accordion-item">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo"
                                style="font-weight: bold; color:#17a2b8;">
                            Add New Outcome
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="POST" enctype="multipart/form-data" id="filling-form">
                                {% csrf_token %}
                                <input type="text" name="invoice_num"
                                       class="form-control" placeholder="invoice_num">
                               <input type="text" name="invoice_date" placeholder="invoice_date"
                                       class="form-control appointment_date">
                                <select name="type" placeholder="type"
                                        class="form-control">
                                    <option selected disabled>Select type</option>
                                    <option value="سعر المختبر">سعر المختبر</option>
                                    <option value="ايجار">ايجار</option>
                                    <option value="كهرباء">كهرباء</option>
                                    <option value="ماء">ماء</option>
                                    <option value="المواد">المواد</option>
                                    <option value="النثرية">النثرية</option>

                                </select>

                                <input type="text" name="description" placeholder="description"
                                       class="form-control">
                                <input type="text" name="price" placeholder="price" id="price" class="form-control">

                                <br/>
                                <div class="form-group" style="text-align: center;">
                                    <input type="submit" value="Add New OutCome"
                                           class="btn btn-outline-primary">
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br/>
        <table class="table table-hover">
            <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
            <tr>
                <th scope="col">#</th>
                <th scope="col">invoice_num</th>
                <th scope="col">invoice_date</th>
                <th scope="col">type</th>
                <th scope="col">description</th>
                <th scope="col">price</th>
                <th scope="col">Reg.Date</th>
                <th colspan="2" scope="col">Other</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
            <tr>
                <td scope="row">{{appointment.id}}</td>
                <td scope="row">{{appointment.invoice_num}}</td>
                <td scope="row">{{appointment.invoice_date}}</td>
                <td scope="row">{{appointment.type}}</td>
                 <td scope="row">{{appointment.description}}</td>
                 <td scope="row">{{appointment.price|format_with_commas}}</td>
                <td scope="row">{{appointment.regdate}}</td>
                <td><a href="{% url 'delete-outcome' appointment.id %}" style="display: inline;"><span
                         class="btn btn-outline-danger">Delete</span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#filling-form').submit(function() {
        // Remove commas from the price value before submission
        var priceInput = $('#price');
        var numericPriceValue = priceInput.val().replace(/,/g, '');
        priceInput.val(numericPriceValue);

    });

    $('#price, #price_lab').on('input', function() {
        // Remove non-numeric characters except dots (keeping decimals)
        var numericValue = $(this).val().replace(/[^0-9.]/g, '');
        // Format with commas for thousands separators
        var formattedValue = parseFloat(numericValue).toLocaleString('en-US');
        $(this).val(formattedValue);
    });
});
</script>
</body>

{% endblock %}