{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    {% if user.is_authenticated %}
        {% if user.role == 'admin' or user.role == 'educational_center' %}
            {% if alert_message %}
                <script>
                    $(document).ready(function () {
                        alert("{{ alert_message }}");
                    });
                </script>
            {% endif %}
            <form class="form-inline" method="POST" action="">
                {% csrf_token %}
                {{ form.educational }}<BR>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}
    {% endif %}
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <br/>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search For My Appointments</li>
                </ol>
            </nav>
            {% if receptions %}
            <table class="table table-hover">
                <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
                <tr>
                    <th scope="col" style="text-align:center;">#</th>
                    <th scope="col" style="text-align:center;">Full Name</th>
                    <th scope="col" style="text-align:center;">Phone Number</th>
                    <th scope="col" style="text-align:center;">Doctor Name</th>
                    <th scope="col" style="text-align:center;">Appointment Date</th>
                    <th scope="col" style="text-align:center;">Day Name</th>
                    <th scope="col" style="text-align:center;">Time</th>
                    <th scope="col" style="text-align:center;">Oral Surgery</th>
                    <th scope="col" style="text-align:center;">Conservation</th>
                    <th scope="col" style="text-align:center;">Orthodontic</th>
                    <th scope="col" style="text-align:center;">Prosthodontics</th>
                </tr>
                </thead>
                <tbody>
                {% for reception in receptions %}
                <tr>
                    <td scope="row" style="text-align:center;">{{reception.id}}</td>
                    <td scope="row" style="text-align:center;">{{reception.name}}</td>
                    <td scope="row" style="text-align:center;">{{reception.phone}}</td>
                    <td scope="row" style="text-align:center;">{{ reception.educational.educational_name }}</td>
                    <td scope="row" style="text-align:center;">{{reception.app_data}}</td>
                    <td scope="row" style="text-align:center;">{{reception.days}}</td>
                    <td scope="row" style="text-align:center;">{{reception.time|slice:"1:-1" }}</td>
                    <td scope="row" style="text-align:center;">
                        <li class="nav-item dropdown" style="color: #fff;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false" style="color: #000;">
                                Oral_Surgery
                            </a>
                            <div class="dropdown-menu">
                                <a href="{% url 'exo' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Exo</span></a>
                                <br/>
                                <a href="{% url 'add-oral-surgery' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Implant</span></a>
                                <br/>
                                <a href="{% url 'periodontology' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Periodontology</span></a>
                            </div>
                        </li>
                    </td>
                    <td scope="row" style="text-align:center;">
                        <li class="nav-item dropdown" style="color: #fff;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false" style="color: #000;">
                                Conservation
                            </a>
                            <div class="dropdown-menu">
                                <a href="{% url 'crown' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Crown</span></a>
                                <br/>
                                <a href="{% url 'veneer' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Veneer</span></a>
                                <br/>
                                <a href="{% url 'filling' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Filling</span></a>
                                <br/>
                                <a href="{% url 'add-endo' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Endo</span></a>
                            </div>
                        </li>
                    </td>
                    <td scope="row" style="text-align:center;">
                        <li class="nav-item dropdown" style="color: #fff;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false" style="color: #000;">
                                Orthodontic
                            </a>
                            <div class="dropdown-menu">
                                <a href="{% url 'add-ortho' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Ortho</span></a>
                                <br/>
                            </div>
                        </li>
                    </td>
                     <td scope="row" style="text-align:center;">
                        <li class="nav-item dropdown" style="color: #fff;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false" style="color: #000;">
                                Prosthodontics
                            </a>
                            <div class="dropdown-menu">
                                <a href="{% url 'prosthodontics' reception.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Add Prosthodontics</span></a>
                                <br/>
                            </div>
                        </li>
                    </td>


                </tr>
                {% empty %}
                <li>No results found.</li>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
    </div>
</div>
</body>
{% endblock %}
