{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    {%if user.is_authenticated%}
    {% if user.role == 'admin' or user.role == 'doctor' %}
    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        {{ form.doctor }}<BR>
        &nbsp&nbsp&nbsp&nbsp<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
    {% endif %}
</nav>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search For My Appointments</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-12">
                <br/>
                <table class="table table-hover">
                    <thead style="background-color:#73ccf0; color:#fff;">
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Appointment Date</th>
                        <th scope="col">Day Name</th>
                        <th scope="col">Time</th>
                        <th scope="col" colspan="2" style="text-align:center;">Other</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reception in receptions %}
                    <tr>
                        <td scope="row">{{reception.id}}</td>
                        <td scope="row">{{reception.name}}</td>
                        <td scope="row">{{reception.phone}}</td>
                        <td scope="row">{{reception.gender}}</td>
                        <td scope="row">{{reception.date_of_birth}}</td>
                        <td scope="row">{{ reception.doctor.doctor_name }}</td>
                        <td scope="row">{{reception.app_data}}</td>
                        <td scope="row">{{reception.days}}</td>
                        <td scope="row">{{reception.time|slice:"1:-1" }}</td>
                        <td><a href="{% url 'exo' reception.id %}" style="display: inline;"><span class="btn btn-outline-warning">Add Exo</span></a></td>
                        <td><a href="{% url 'add-oral-surgery' reception.id %}" style="display: inline;"><span class="btn btn-outline-warning">Add Implant</span></a></td>
                        <td><a href="{% url 'crown' reception.id %}" style="display: inline;"><span class="btn btn-outline-warning">Add Crown</span></a></td>
                        <td><a href="{% url 'veneer' reception.id %}" style="display: inline;"><span class="btn btn-outline-warning">Add Veneer</span></a></td>
                        <td><a href="{% url 'filling' reception.id %}" style="display: inline;"><span class="btn btn-outline-warning">Add Filling</span></a></td>

                    </tr>
                    {% empty %}
                    <li>No results found.</li>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}
