{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}


<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url({% static 'website/images/bg_1.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span
                            class="mr-2"><a href="index.html"></a></span> <span></span></p>
                </div>
            </div>
        </div>
    </div>

</section>
<br/>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="col-12">
        <h1 class="h2" align="center">Patient Appointment</h1>
        <br/>
        <table class="table table-hover">
            <thead class="table-info">
            <tr>

                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Upper Right</th>
                <th scope="col">Upper Left</th>
                <th scope="col">Lower Right</th>
                <th scope="col">Lower Left</th>
                <th scope="col">Notes</th>
                <th scope="col">Exo by Surgery</th>
                <th scope="col">Simple Exo</th>
                <th scope="col">Complicated</th>
                <th colspan="2">Other</th>

            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
            <tr>
                <td scope="row">{{appointment.id}}</td>
                <td scope="row">{{appointment.name}}</td>
                <td scope="row">{{appointment.phone}}</td>
                <td scope="row">{{appointment.gender}}</td>
                <td scope="row">{{appointment.date_of_birth}}</td>
                <td scope="row">{{ appointment.ur|slice:"1:-1" }}</td>
                <td scope="row">{{appointment.ul|slice:"1:-1" }}</td>
                <td scope="row">{{appointment.lr|slice:"1:-1"}}</td>
                <td scope="row">{{appointment.ll|slice:"1:-1"}}</td>
                <td scope="row">{{appointment.note}}</td>
                <td scope="row">{{appointment.exoby|slice:"1:-1"}}</td>
                <td scope="row">{{appointment.simpleexo|slice:"1:-1"}}</td>
                <td scope="row">{{appointment.complcated |slice:"1:-1"}}</td>
                <td><a href="" style="display: inline;"><span
                        class="btn btn-outline-warning">Edit</span></a></td>
                <td><a href="" style="display: inline;"><span class="btn btn-outline-danger">Delete</span></a>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}