{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-8 mb-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Information</li>
                    </ol>
                </nav>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="idReception" value="{{ form.initial.idReception }}">
                    <input type="hidden" name="name" value="{{ form.initial.name }}" readonly>
                    <input type="hidden" name="phone" value="{{ form.initial.phone }}" readonly>
                    <input type="hidden" name="gender" value="{{ form.initial.gender }}" readonly>
                    <input type="hidden" name="date_of_birth" value="{{ form.initial.date_of_birth }}" readonly>
                    <div class="form-group">
                        <label>Implant:</label>
                        {{ form.implant }}
                    </div>

                    <div class="form-group">
                        <label>Diameter:</label>
                        <input type="text" name="diameter" value="{{ form.initial.diameter }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Length:</label>
                        <input type="text" name="length" value="{{ form.initial.length }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>No. of Implant:</label>
                        <input type="text" name="no_Implant" value="{{ form.initial.no_Implant }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Upper Right:</label>
                       <input type="text" name="ur" value="{% if form.initial.ur %}{{ form.initial.ur|slice:"1:"|slice:"-1" }}{% endif %}" class="form-control">
                    </div>




                    <div class="form-group">
                        <label>Upper Left:</label>
                        <input type="text" name="ul" value="{% if form.initial.ul %}{{ form.initial.ul|slice:"1:-1" }}{% endif %}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Lower Right:</label>
                        <input type="text" name="lr" value="{% if form.initial.lr %}{{ form.initial.lr|slice:"1:-1" }}{% endif %}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Lower Left:</label>
                      <input type="text" name="ll" value="{% if form.initial.ll %}{{ form.initial.ll|slice:"1:-1" }}{% endif %}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Shade:</label>
                        <select name="shade" class="form-control" required="required">
                            <option value="">Select Shade</option>
                            <option value="VITA Shade">VITA</option>
                            <option value="A-D Shade">A-D Shade</option>
                            <option value="Bleach Shade">Bleach Shade</option>
                            <option value="Tetric N-Ceram(16) Shade">Tetric N-Ceram(16) Shade</option>
                            <option value="Tetric N-Flow(10) Shade">Tetric N-Ceram(10) Shade</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>No of Unite:</label>
                        <input type="text" name="no_unite" value="{{ form.initial.no_unite }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Color:</label>
                        <input type="text" name="color" value="{{ form.initial.color }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Price:</label>
                        <input type="text" name="price" value="{{ form.initial.price }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Paid:</label>
                        <input type="text" name="paid" value="{{ form.initial.paid }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Note:</label>
                        <input type="text" name="note" value="{{ form.initial.note }}" class="form-control">
                    </div>

                    <input type="file" name="exo_images"
                           class="form-control"
                           multiple>
                    <input type="text" name="first_visit" value="{{ form.initial.first_visit|date:" Y-m-d"  }}">
                    <input type="hidden" name="second_visit" value="{{ form.initial.second_visit|date:" Y-m-d" }}" readonly>
                    <input type="hidden" name="third_visit" value="{{ form.initial.third_visit|date:" Y-m-d" }}" readonly>
                    <input type="hidden" name="fourth_visit" value="{{ form.initial.fourth_visit|date:" Y-m-d" }}" readonly>
                    <input type="hidden" name="fifth_visit" value="{{ form.initial.fifth_visit|date:" Y-m-d" }}" readonly>


                    <!-- Render form fields here -->
                    <button type="submit">Save</button>
                </form>


            </div>
        </div>
    </div>
</section>
{% endblock %}