{% extends 'base.html'  %}
{% load static %}
{% block content %}
<br/>
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add New Educational Center</li>
        </ol>
    </nav>
    <br/><br/>
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light"><h4  style="font-weight: bold; color:#17a2b8;">Add New Educational Center</h4></div>
                <br/>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="text" name="educational_name"
                           class="form-control" placeholder="Educational Center Name">
                    <input type="text" name="phone" placeholder="Phone Number"
                           class="form-control">
                    <select name="gender" placeholder="Gender"
                            class="form-control">
                        <option selected disabled>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                    </select>
                    <br/>
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" value="Add New Educational Center"
                               class="btn btn-info">
                    </div>


                </form>
            </div>
            <div class="col-8">
                <div class="p-3 border bg-light"><h4 style="font-weight: bold; color:#17a2b8;">Educational Center Information</h4></div>
                <br/>
                <table class="table table-hover">
                    <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Educational Center Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Other</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td scope="row">{{appointment.id}}</td>
                        <td scope="row">{{appointment.educational_name}}</td>
                        <td scope="row">{{appointment.phone}}</td>
                        <td scope="row">{{appointment.gender}}</td>
                        <td><a href="{% url 'delete-educational' appointment.id %}" style="display: inline;"><span
                                class="btn btn-round btn-danger">Delete</span></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
</body>
{% endblock %}