{% extends 'base.html'  %}
{% load static %}
{% block content %}
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    {%if user.is_authenticated%}
    {% if user.role == 'admin' or user.role == 'educational_center' %}
    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        {{ form.educational }}<BR>
        &nbsp&nbsp&nbsp&nbsp
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
    {% endif %}
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Educational Center Students Report</li>
    </ol>
</nav>
<!--<h1>Search Results for "{{ query }}"</h1>-->

{% if search_results %}
{% for model_name, results in search_results %}
{% if results %}
<h2>{{ model_name }} Results</h2>
<h5 style="font-weight: bold;">
    {% if results %}
    <p>
        Name: {{ results.0.name }} &nbsp; &nbsp; &nbsp; &nbsp;
        Gender: {{ results.0.gender }} &nbsp; &nbsp; &nbsp; &nbsp;
        Phone Number: {{ results.0.phone }} &nbsp; &nbsp; &nbsp; &nbsp;
        Date of Birth: {{ results.0.date_of_birth }}
    </p>
    {% endif %}
</h5>
<table class="table table-hover">
   <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
    <tr>
        {% if model_name == 'Exo' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >Upper Right</th>
        <th scope="col" style="text-align: center;" >Upper Left</th>
        <th scope="col" style="text-align: center;" >Lower Right</th>
        <th scope="col" style="text-align: center;" >Lower Left</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" >Total Price</th>
        <th scope="col" style="text-align: center;" >Paid</th>
        <th scope="col" style="text-align: center;" >Notes</th>
        <th scope="col" style="text-align: center;" >Exo by Surgery</th>
        <th scope="col" style="text-align: center;" >Simple Exo</th>
        <th scope="col" style="text-align: center;" >Complicated</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% elif model_name == 'Crown' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >Shade</th>
        <th scope="col" style="text-align: center;" >No of Unite</th>
        <th scope="col" style="text-align: center;" >Color</th>
        <th scope="col" style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" >Total Price</th>
        <th scope="col" style="text-align: center;" >Paid</th>
        <th scope="col" style="text-align: center;" >Notes</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% elif model_name == 'Filling' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >Filling Type</th>
        <th scope="col" style="text-align: center;" >Filling Place</th>
        <th scope="col" style="text-align: center;" >Upper Right</th>
        <th scope="col" style="text-align: center;" >Upper Left</th>
        <th scope="col" style="text-align: center;" >Lower Right</th>
        <th scope="col" style="text-align: center;" >Lower Left</th>
        <th scope="col" style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" >Total Price</th>
        <th scope="col" style="text-align: center;" >Paid</th>
        <th scope="col" style="text-align: center;" >Notes</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% elif model_name == 'Veneer' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >Shade</th>
        <th scope="col" style="text-align: center;" >No of Unite</th>
        <th scope="col" style="text-align: center;" >Color</th>
        <th scope="col" style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" >Total Price</th>
        <th scope="col" style="text-align: center;" >Paid</th>
        <th scope="col" style="text-align: center;" >Notes</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% elif model_name == 'OralSurgery' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >First Visit</th>
        <th scope="col" style="text-align: center;" >Implant</th>
        <th scope="col" style="text-align: center;" >Diameter</th>
        <th scope="col" style="text-align: center;" >Length</th>
        <th scope="col" style="text-align: center;" >No Of Implant</th>
        <th scope="col" style="text-align: center;" >Upper Right</th>
        <th scope="col" style="text-align: center;" >Upper Left</th>
        <th scope="col" style="text-align: center;" >Lower Right</th>
        <th scope="col" style="text-align: center;" >Lower Left</th>
        <th scope="col" style="text-align: center;" >Shade</th>
        <th scope="col" style="text-align: center;" >No Of Uint</th>
        <th scope="col" style="text-align: center;" >color</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" >Total Price</th>
        <th scope="col" style="text-align: center;" >Paid</th>
        <th scope="col" style="text-align: center;" >Notes</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% elif model_name == 'Endo' %}
        <th style="text-align: center;" scope="col">Upper Right</th>
        <th style="text-align: center;" scope="col">Upper Left</th>
        <th style="text-align: center;" scope="col">Lower Right</th>
        <th style="text-align: center;" scope="col">Lower Left</th>
        <th style="text-align: center;" scope="col">Canal</th>
        <th style="text-align: center;" scope="col">Work Length</th>
        <th style="text-align: center;" scope="col">no_prepare</th>
        <th style="text-align: center;" scope="col">Price</th>
        <th style="text-align: center;" scope="col">Total Price</th>
        <th style="text-align: center;" scope="col">Paid</th>
        <th style="text-align: center;" scope="col">Notes</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% elif model_name == 'Ortho' %}
        <th scope="col" style="text-align: center;" class="hideable">Upper Right</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Right NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Teeth Type</th>
        <th scope="col" style="text-align: center;" class="hideable">angle_class</th>
        <th scope="col" style="text-align: center;" class="hideable">over_jet</th>
        <th scope="col" style="text-align: center;" class="hideable">over_bt</th>
        <th scope="col" style="text-align: center;" class="hideable">jow_shift</th>
        <th scope="col" style="text-align: center;" class="hideable">midlin_shift</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Right S</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left S</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right S</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left S</th>
        <th scope="col" style="text-align: center;" class="hideable">teeth_size</th>
        <th scope="col" style="text-align: center;" class="hideable">treatment_plan</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" class="hideable">paid</th>
        <th scope="col" style="text-align: center;" class="hideable">Notes</th>
        <th scope="col" style="text-align: center;" >Add Debts</th>
        <th scope="col" style="text-align: center;" >Print Invoice</th>
        {% endif %}
        <!-- ... other header columns ... -->
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr style="color: {% if result.total_price != result.paid %}red{% else %}green{% endif %}">
        {% if model_name == 'Exo' %}
        <td style="text-align: center;" >{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;" >{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.price }}</td>
        <td style="text-align: center;" >{{ result.total_price }}</td>
        <td style="text-align: center;" >{{ result.paid }}</td>
        <td style="text-align: center;" >{{ result.note }}</td>
        <td style="text-align: center;" >{{ result.exoby|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.simpleexo|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.complcated|slice:"1:-1" }}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a></td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_exo_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->


        {% elif model_name == 'Crown' %}
        <td scope="row">{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.shade}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_unite}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.color}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_prepare}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.price}}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{result.total_price }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{result.paid }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.note}}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt-crown' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a></td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_crown_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->
        <!-- ... other crown-related fields ... -->
        {% elif model_name == 'Filling' %}
        <td scope="row">{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td scope="row">{{result.filling_type}}</td>
        <td scope="row">{{result.filling_place|slice:"1:-1"}}</td>
        <td scope="row">{{result.ur|slice:"1:-1" }}</td>
        <td scope="row">{{result.ul|slice:"1:-1"}}</td>
        <td scope="row">{{result.lr|slice:"1:-1"}}</td>
        <td scope="row">{{result.ll|slice:"1:-1"}}</td>
        <td scope="row">{{result.no_prepare}}</td>
        <td scope="row">{{result.price}}</td>
        <td scope="row">{{result.total_price}}</td>
        <td scope="row">{{result.paid}}</td>
        <td scope="row">{{result.note}}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt-filling' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a></td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_filling_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->
        {% elif model_name == 'Veneer' %}
        <td style="text-align: center;"  scope="row">{{ result.id}}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.shade}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_unite}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.color}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_prepare}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.price}}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.total_price }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.paid }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.note}}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt-veneer' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a></td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_veneer_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->
        {% elif model_name == 'OralSurgery' %}
        <td style="text-align: center;" scope="row">{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;" scope="row">{{ result.first_visit }}</td>
        <td style="text-align: center;" scope="row">{{ result.implant }}</td>
        <td style="text-align: center;" scope="row">{{ result.diameter }}</td>
        <td style="text-align: center;" scope="row">{{ result.length }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_Implant }}</td>
        <td style="text-align: center;" scope="row">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.shade }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_unite }}</td>
        <td style="text-align: center;" scope="row">{{ result.color }}</td>
        <td style="text-align: center;" scope="row">{{ result.price }}</td>
        <td style="text-align: center;" scope="row">{{ result.total_price }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.paid }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.note}}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt-oral' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a>
        </td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_oral_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->
         {% elif model_name == 'Endo' %}
        <td style="text-align: center;" scope="row">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.canal|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.work_length }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_prepare }}</td>
        <td style="text-align: center;">{{ result.price }}</td>
        <td style="text-align: center;">{{ result.total_price }}</td>
        <td style="text-align: center;" scope="row">{{ result.paid }}</td>
        <td style="text-align: center;" scope="row">{{ result.note }}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt-endo' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a>
        </td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_endo_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->
        {% elif model_name == 'Ortho' %}
        <td style="text-align: center;" scope="row" class="hideable">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.urn|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.uln|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lrn|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lln|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.teeth_type|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.angle_class }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.over_jet }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.over_bt }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.jow_shift }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.midlin_shift }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.urs|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.uls|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lrs|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lls|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.teeth_size |slice:"1:-1" }}</td>
        <td style="text-align: center; word-wrap: break-word;" scope="row" class="hideable">{{ result.treatment_plan }}</td>
        <td style="text-align: center;">{{ result.price}}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.paid }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.notes }}</td>
        <!--<td style="text-align: center;" ><a href="{% url 'add-debt-ortho' id=result.id %}?selected_educational={{ selected_educational }}"><span class="btn btn-outline-info">Add-Debt</span></a>
        </td>
        <td style="text-align: center;" > {% if result.total_price == result.paid %}
            <a href="{% url 'print_ortho_debt'  result.idReception_id  %}" style="display: inline;"
               class="btn btn-outline-info">Print
                Invoice</a>
            {% endif %}
        </td>-->
        {% endif %}
        <!-- ... other fields ... -->
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No {{ model_name }} results found.</p>
{% endif %}
{% endfor %}
{% else %}
<p>No results found.</p>
{% endif %}
    </div></div></body>
{% endblock %}