{% extends 'base.html'  %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Contact Page{% endblock %}

{% block content %}

<br/>
<div class="row"
     style="padding-left: 60px;  padding-right: 60px; background: #fff; align-content: center; color: white; border-radius: 10px">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Crown Information</li>
            </ol>
        </nav>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            style="text-align: justify; background-color:#a7e2fa; color:#000">
                        Patient Information
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                            <thead style="background-color:#73ccf0; color:#fff;">
                            <tr>

                                <th scope="col">#</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Date of Birth</th>
                                <th scope="col">Shade</th>
                                <th scope="col">No of Unite</th>
                                <th scope="col">Color</th>
                                <th scope="col">No of Pre.Unite</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Crown Photo</th>
                                <th scope="col"  colspan="2" style="text-align:center;">Other</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td text-align="center" scope="row">{{ form.initial.idReception }}</td>
                                <td text-align="center" scope="row">{{ form.initial.name }}</td>
                                <td text-align="center" scope="row">{{ form.initial.phone }}</td>
                                <td text-align="center" scope="row">{{ form.initial.gender }}</td>
                                <td text-align="center" scope="row">{{ form.initial.date_of_birth }}</td>
                                <td text-align="center" scope="row" align="center">{{crownn.shade}}</td>
                                <td text-align="center" scope="row" align="center">{{crownn.no_unite}}</td>
                                <td text-align="center" scope="row" align="center">{{crownn.color}}</td>
                                <td text-align="center" scope="row" align="center">{{crownn.no_prepare}}</td>
                                <td text-align="center" scope="row" align="center">{{formatted_price}}</td>
                                <td text-align="center" scope="row" align="center"> {{ formatted_total_price }}</td>
                                <td text-align="center" scope="row" align="center">{{crownn.note}}</td>

                                <td>{% for photo in photos %}
                                    <img src="{{ photo.image.url }}" alt="Photo" width="100">
                                    <a href="{% url 'remove_photo_crown' photo.id %}">Remove</a>
                                    {% endfor %}
                                </td>
                                {% if crownn %}
                                <td><a href="{% url 'crown_edit' crownn.id %}" style="display: inline;"><span
                                        class="btn btn-outline-warning">Edit</span></a></td>
                                <td scope="row" ><a href="{% url 'delete-crown'  crownn.id %}" style="display: inline;"><span class="btn btn-outline-danger">Delete</span></a></td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo"
                                style="text-align: justify; background-color:#a7e2fa; color:#000">
                            Crown & Bridge Section
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="idReception"
                                       value="{{ form.initial.idReception }}"
                                       class="form-control">
                                <input type="hidden" name="name" value="{{ form.initial.name }}"
                                       class="form-control">
                                <input type="hidden" name="phone" value="{{ form.initial.phone }}"
                                       class="form-control">
                                <input type="hidden" name="gender" value="{{ form.initial.gender }}"
                                       class="form-control">
                                <input type="hidden" name="date_of_birth"
                                       value="{{ form.initial.date_of_birth }}"
                                       class="form-control">
                                <div class="col-2" style="float: right; margin-top: 28px;">
                                    <div class="card-header" align="right">
                                        <a href="{% url 'drugs' id=id %}"
                                           class="btn btn-outline-info d-flex align-items-center">&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Drugs</a>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="col-6">
                                        <br/>
                                        <div class="card-header">
                                            <h4 style="font-size: 22px; text-align:center;">Crown & Bridge</h4>
                                        </div>
                                        <br/>
                                        <div class="card-header">
                                            Crown & Bridge
                                        </div>
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label>Shade</label>
                                                    <select name="shade" class="form-select" required="required">
                                                        <option value="">Chose from here</option>
                                                        <option value="VITA Shade">VITA</option>
                                                        <option value="A-D Shade">A-D Shade</option>
                                                        <option value="Bleach Shade">Bleach Shade</option>
                                                        <option value="Tetric N-Ceram(16) Shade">Tetric N-Ceram(16)
                                                            Shade
                                                        </option>
                                                        <option value="Tetric N-Flow(10) Shade">Tetric N-Ceram(10)
                                                            Shade
                                                        </option>
                                                    </select>


                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="no_unite"
                                                           placeholder="No of Unite:" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="color"
                                                           placeholder="Color" required>

                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="no_prepare"
                                                           placeholder="No of Prepared Teeth" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="price" value="" class="form-control"
                                                           placeholder="Price:" required>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" name="note" value="" class="form-control"
                                                           placeholder="Notes:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="file" name="exo_images" class="form-control" multiple>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="card-footer text-center">
                                            <input type="submit" value="Add New Crown"
                                                   class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Display existing images if available
{% if exoo and exoo.exo_image %}
  <h2>Existing Images</h2>
  {% for image in exoo.exo_image.all %}
    <img src="{{ image.url }}" alt="Image">
  {% endfor %}
{% endif %} -->

{% endblock %}