{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}


<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-8 mb-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Information</li>
                    </ol>
                </nav>
                <form method="POST" action="" enctype="multipart/form-data" id="updateForm">
                    {% csrf_token %}
                    <input type="text" name="idReception" value="{{ crown_instance.idReception_id  }}" class="form-control">
                    <input type="text" name="name" value="{{ crown_instance.name }}" class="form-control">
                    <input type="text" name="phone" value="{{ crown_instance.phone }}" class="form-control">
                    <input type="text" name="gender" value="{{ crown_instance.gender }}" class="form-control">
                    <input type="text" name="date_of_birth" value="{{ crown_instance.date_of_birth }}"
                           class="form-control">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="card-header">
                                Upper Right
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-control">
                                        <input type="text" id="paid" name="paid" value="{{ crown_instance.paid }}"
                                               class="form-control"
                                               placeholder="Paid:" required>
                                    </div>
                                </div>

                            </div>
                            <br/>
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" value="update" onclick="validateAndShowAlert()"
                                        class="btn btn-outline-primary">Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                   <script>
    function validateAndShowAlert() {
        var requiredFields = document.querySelectorAll('[required]');
        var allFieldsFilled = true;

        for (var i = 0; i < requiredFields.length; i++) {
            if (!requiredFields[i].value) {
                allFieldsFilled = false;
                break;
            }
        }

        if (allFieldsFilled) {
            showAlert();
        } else {
            alert("Please fill out all required fields.");
        }
    }

    function showAlert() {
        if (confirm("Are you sure you want to update?")) {
            document.getElementById("updateForm").submit();
        }
    }
</script>
            </div>
        </div>
    </div>
</section>

{% endblock %}