{% extends 'base.html'  %}
{% load static %}
{% block content %}
<br/>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    {%if user.is_authenticated%}
    <form method="get" action="{% url 'all_debts' %}">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">

    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">

    <button type="submit">Filter</button>
  </form>
    {% endif %}
</nav>
<!--<h1>Search Results for "{{ query }}"</h1>-->

{% if search_results %}
{% for model_name, results in search_results %}
{% if results %}
<h2>{{ model_name }} Results</h2>
<table class="table table-hover">
    <thead style="background-color:#73ccf0; color:#fff;">
    <tr>
        {% if model_name == 'Exo' %}
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Upper Right</th>
        <th scope="col">Upper Left</th>
        <th scope="col">Lower Right</th>
        <th scope="col">Lower Left</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Paid</th>
        <th scope="col">Notes</th>
        <th scope="col">Exo by Surgery</th>
        <th scope="col">Simple Exo</th>
        <th scope="col">Complicated</th>

        {% elif model_name == 'Crown' %}
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Shade</th>
        <th scope="col">No of Unite</th>
        <th scope="col">Color</th>
        <th scope="col">No of Pre.Unite</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Paid</th>
        <th scope="col">Notes</th>
        {% elif model_name == 'Filling' %}
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Filling Type</th>
        <th scope="col">Filling Place</th>
        <th scope="col">Upper Right</th>
        <th scope="col">Upper Left</th>
        <th scope="col">Lower Right</th>
        <th scope="col">Lower Left</th>
        <th scope="col">No of Pre.Unite</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Paid</th>
        <th scope="col">Notes</th>
        {% elif model_name == 'Veneer' %}
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Shade</th>
        <th scope="col">No of Unite</th>
        <th scope="col">Color</th>
        <th scope="col">No of Pre.Unite</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Paid</th>
        <th scope="col">Notes</th>
        {% elif model_name == 'OralSurgery' %}
        <th scope="col">#</th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">First Visit</th>
        <th scope="col">Implant</th>
        <th scope="col">Diameter</th>
        <th scope="col">Length</th>
        <th scope="col">No Of Implant</th>
        <th scope="col">Upper Right</th>
        <th scope="col">Upper Left</th>
        <th scope="col">Lower Right</th>
        <th scope="col">Lower Left</th>
        <th scope="col">Shade</th>
        <th scope="col">No Of Uint</th>
        <th scope="col">color</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Paid</th>
        <th scope="col">Notes</th>
        {% endif %}
        <!-- ... other header columns ... -->
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr style="color: {% if result.total_price != result.paid %}red{% else %}green{% endif %}">
        {% if model_name == 'Exo' %}
        <td>{{ result.id }}</td>
        <td>{{ result.idReception_id }}</td>
        <td>{{ results.0.name }}</td>
        <td>{{ results.0.gender }}</td>
        <td>{{ results.0.phone }}</td>
        <td>{{ results.0.date_of_birth }}</td>
        <td>{{ result.ur|slice:"1:-1" }}</td>
        <td>{{ result.ul|slice:"1:-1" }}</td>
        <td>{{ result.lr|slice:"1:-1" }}</td>
        <td>{{ result.ll|slice:"1:-1" }}</td>
        <td>{{ result.price }}</td>
        <td>{{ result.total_price }}</td>
        <td>{{ result.paid }}</td>
        <td>{{ result.note }}</td>
        <td>{{ result.exoby|slice:"1:-1" }}</td>
        <td>{{ result.simpleexo|slice:"1:-1" }}</td>
        <td>{{ result.complcated|slice:"1:-1" }}</td>
        {% elif model_name == 'Crown' %}
        <td scope="row">{{ result.id }}</td>
        <td>{{ result.idReception_id }}</td>
        <td>{{ results.0.name }}</td>
        <td>{{ results.0.gender }}</td>
        <td>{{ results.0.phone }}</td>
        <td>{{ results.0.date_of_birth }}</td>
        <td text-align="center" scope="row" align="center">{{result.shade}}</td>
        <td text-align="center" scope="row" align="center">{{result.no_unite}}</td>
        <td text-align="center" scope="row" align="center">{{result.color}}</td>
        <td text-align="center" scope="row" align="center">{{result.no_prepare}}</td>
        <td text-align="center" scope="row" align="center">{{result.price}}</td>
        <td text-align="center" scope="row" align="center"> {{result.total_price }}</td>
        <td text-align="center" scope="row" align="center"> {{result.paid }}</td>
        <td text-align="center" scope="row" align="center">{{result.note}}</td>
        <!-- ... other crown-related fields ... -->
        {% elif model_name == 'Filling' %}
        <td scope="row">{{ result.id }}</td>
        <td>{{ result.idReception_id }}</td>
        <td>{{ results.0.name }}</td>
        <td>{{ results.0.gender }}</td>
        <td>{{ results.0.phone }}</td>
        <td>{{ results.0.date_of_birth }}</td>
        <td scope="row">{{result.filling_type}}</td>
        <td scope="row">{{result.filling_place|slice:"1:-1"}}</td>
        <td scope="row">{{result.ur|slice:"1:-1" }}</td>
        <td scope="row">{{result.ul|slice:"1:-1"}}</td>
        <td scope="row">{{result.lr|slice:"1:-1"}}</td>
        <td scope="row">{{result.ll|slice:"1:-1"}}</td>
        <td scope="row">{{result.no_prepare}}</td>
        <td scope="row">{{result.price}}</td>
        <td scope="row">{{result.total_price}}</td>
        <td scope="row">{{result.paid}}</td>
        <td scope="row">{{result.note}}</td>
        {% elif model_name == 'Veneer' %}
        <td text-align="center" scope="row">{{ result.id}}</td>
        <td>{{ result.idReception_id }}</td>
        <td>{{ results.0.name }}</td>
        <td>{{ results.0.gender }}</td>
        <td>{{ results.0.phone }}</td>
        <td>{{ results.0.date_of_birth }}</td>
        <td text-align="center" scope="row" align="center">{{result.shade}}</td>
        <td text-align="center" scope="row" align="center">{{result.no_unite}}</td>
        <td text-align="center" scope="row" align="center">{{result.color}}</td>
        <td text-align="center" scope="row" align="center">{{result.no_prepare}}</td>
        <td text-align="center" scope="row" align="center">{{result.price}}</td>
        <td text-align="center" scope="row" align="center"> {{ result.total_price }}</td>
        <td text-align="center" scope="row" align="center"> {{ result.paid }}</td>
        <td text-align="center" scope="row" align="center">{{result.note}}</td>
        {% elif model_name == 'OralSurgery' %}
        <td style="text-align: center;" scope="row">{{ result.id }}</td>
        <td>{{ result.idReception_id }}</td>
        <td>{{ results.0.name }}</td>
        <td>{{ results.0.gender }}</td>
        <td>{{ results.0.phone }}</td>
        <td>{{ results.0.date_of_birth }}</td>
        <td style="text-align: center;" scope="row">{{ result.first_visit }}</td>
        <td style="text-align: center;" scope="row">{{ result.implant }}</td>
        <td style="text-align: center;" scope="row">{{ result.diameter }}</td>
        <td style="text-align: center;" scope="row">{{ result.length }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_Implant }}</td>
        <td style="text-align: center;" scope="row">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.shade }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_unite }}</td>
        <td style="text-align: center;" scope="row">{{ result.color }}</td>
        <td style="text-align: center;" scope="row">{{ result.price }}</td>
        <td style="text-align: center;" scope="row">{{ result.total_price }}</td>
        <td text-align="center" scope="row" align="center"> {{ result.paid }}</td>
        <td text-align="center" scope="row" align="center">{{result.note}}</td>
        {% endif %}
        <!-- ... other fields ... -->
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No {{ model_name }} results found.</p>
{% endif %}
{% endfor %}
{% else %}
<p>No results found.</p>
{% endif %}

{% endblock %}