<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Payment History</title>
</head>
<body>
    <h2>Edit Payment History</h2>
<form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="idReception" value="{{ idReception  }}" class="form-control"  readonly>
                    <input type="text" name="name" value="{{ name }}" class="form-control" readonly>
                    <input type="text" name="phone" value="{{ phone }}" class="form-control" readonly>
                    <input type="text" name="gender" value="{{ gender }}" class="form-control"  readonly>
                    <input type="text" name="date_of_birth" value="{{ date_of_birth }}"  readonly
                           class="form-control">
                    <div class="row">

                        <div class="col-sm-6">
                            <input type="text" id="price" name="price" value="{{ price }}" class="form-control" readonly>
                            <h4>Paid Money</h4>
                            <input type="text" id="paid" class="form-control" name="paid" value="{{ paid }}" placeholder="Paid:" required>
                            <h4> Date Paid </h4>
                            <input type="date" class="form-control" name="date" value="" placeholder="" required>
                            <br/><br/>
                            <button type="submit" class="btn btn-primary">Add Debt</button>
                        </div>

                        </div>

                </form>

</body>
</html>
