
{% load static %}

{% block content %}
{% load custom_filters %}
<br/>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>
<div class="container body">
    <div class="right_col" role="main" style="width: 100%">
<p align="center"
   style="font-size:16px; color:#900; font-weight:bold; background-image: url({% static 'website/images/bb.jpg'  %}); background-repeat:no-repeat;">

    <br/>COSMOLIGHT DENTAL CENTER<!--<br/>نوزدارى و نشته کە ریا ده ڤ وددانا <br/>تایبه تمه ندى راستکریا
    ددانا<br/>B.D.S/M.SC.Ortho</br>عطلة العيادة الخميس والجمعة </p>-->
<hr class="border border-primary border-3 opacity-40">
        <p style="text-align: right;" ><img src="{% static 'website/images/img.jpg'  %}"
                                             alt="..." class="img-circle profile_img"> &nbsp; &nbsp;<img src="{% static 'website/images/bar.png'  %}"
                                             alt="..." class="img-circle profile_img"></p>
        <br/>
        <h4 style="font-weight:bold;">https://cosmolightgroup.org</h4>
<hr class="border border-primary border-3 opacity-40">
<div class="col-6">
    <div class="row">
        <div style="font-weight: bold;">
              {% if combined_debts %}
    <p>
        Name: {{ combined_debts.0.name }} &nbsp; &nbsp; &nbsp; &nbsp;
        <br/>
        Phone Number: {{ combined_debts.0.phone }} &nbsp; &nbsp; &nbsp; &nbsp;
    </p>
    {% endif %}
        </div>
      <table class="table table-hover">
            <thead style="background-color:#555; color:#fff; border: 1px solid #000;">
            <h3 style="text-align:left; ">Payment Invoice</h3>
    <tr >
      <th>Model</th>
      <th>Total Price</th>
      <th>Total Paid</th>
    </tr>
  </thead>
  <tbody>


    {% for debt in debt1 %}
    <tr style="border: 1px solid #000;">
      <td>Exo</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}

    {% for debt in debt2 %}
    <tr>
      <td>Crown</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}

    {% for debt in debt3 %}
    <tr>

      <td>Filling</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}


   {% for debt in debt4 %}
    <tr>
      <td>Endo</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
    {% for debt in debt5 %}
<tr>
  <td>Ortho</td>
  <td>{{ debt.2|format_with_commas }}</td> <!-- center_share -->
  <td>{{ debt.1|format_with_commas }}</td> <!-- paid -->
</tr>
{% endfor %}
        {% for debt in debt6 %}
    <tr>
      <td>OralSurgery</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
     {% for debt in debt7 %}
    <tr>
      <td>Prosthodontist</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
    {% for debt in debt8 %}
    <tr>
      <td>Periodontology</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
    {% for debt in debt9 %}
    <tr>
      <td>Veneer</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
     {% for debt in debt10 %}
    <tr>
      <td>Pedo</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
    {% for debt in debt11 %}
    <tr>
      <td>Surgery</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}
     {% for debt in debt12 %}
    <tr>
      <td>Preventive</td>
      <td>{{ debt.2|format_with_commas }}</td>
      <td>{{ debt.1|format_with_commas }}</td>
    </tr>
    {% endfor %}

    <!-- Repeat similar blocks for debt4 to debt9 -->
  </tbody>
          <td  style="background-color:#555; color:#fff;">Total</td>
          <td style="background-color:#555; color:#fff;">{{ total_price|format_with_commas }}</td>
          <td  style="background-color:#555; color:#fff;">{{ total_paid|format_with_commas }}</td>
      </table>
        <BR/>
        <table class="table table-hover">
            <thead style="background-color:#555; color:#fff;">
            <h3 style="text-align:left; ">Invoice Paid</h3>
            <tr>

                <th style="text-align:center;" scope="col">#</th>
                <th style="text-align:center;" scope="col">Model</th>
                <th style="text-align:center;" scope="col">Previous Date</th>
                <th style="text-align:center;" scope="col">Paid</th>


            </tr>
            </thead>
            <tbody>
            {% for debt in debtss %}
    <tr style="color: {% if debt.total_price != debt.paid %}red{% else %}black{% endif %}">
        <td style="text-align:center;">{{ debt.id }}</td>
        <td style="text-align:center;">
            {% if debt.crown_instance %}
                Crown
            {% endif %}
            {% if debt.endo_instance %}
                {% if debt.crown_instance %}, {% endif %}
                Endo
            {% endif %}
            {% if debt.filling_instance %}
                {% if debt.crown_instance or debt.endo_instance %}, {% endif %}
                Filling
            {% endif %}
            {% if debt.oral_surgery_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance %}, {% endif %}
                Oral Surgery
            {% endif %}
            {% if debt.ortho_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance %}, {% endif %}
                Ortho
            {% endif %}
            {% if debt.veneer_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance %}, {% endif %}
                Veneer
            {% endif %}
            {% if debt.periodontology_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance or debt.veneer_instance %}, {% endif %}
                Periodontology
            {% endif %}
            {% if debt.prosthodontics_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance or debt.veneer_instance or debt.periodontology_instance %}, {% endif %}
                Prosthodontics
            {% endif %}
            {% if debt.exo_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance or debt.veneer_instance or debt.periodontology_instance or debt.prosthodontics_instance %}, {% endif %}
                Exo
            {% endif %}
            {% if debt.pedo_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance or debt.veneer_instance or debt.periodontology_instance or debt.prosthodontics_instance or debt.exo_instance %}, {% endif %}
                Pedo
            {% endif %}
            {% if debt.surgery_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance or debt.veneer_instance or debt.periodontology_instance or debt.prosthodontics_instance or debt.exo_instance or debt.pedo_instance %}, {% endif %}
                Surgery
            {% endif %}
            {% if debt.preventive_instance %}
                {% if debt.crown_instance or debt.endo_instance or debt.filling_instance or debt.oral_surgery_instance or debt.ortho_instance or debt.veneer_instance or debt.periodontology_instance or debt.prosthodontics_instance or debt.exo_instance or debt.pedo_instance or debt.surgery_instance %}, {% endif %}
                Preventive
            {% endif %}
        </td>



                <td style="text-align:center;">{{ debt.previous_date }}</td>
                <td style="text-align:center;">{{ debt.paid_amount|format_with_commas }}</td>
            </tr>
            {% endfor %}
          <td colspan="2" style="background-color:#555; color:#fff;">Total</td>
          <td style="background-color:#555; color:#fff;">{{ total_price|format_with_commas }}</td>
          <td  style="background-color:#555; color:#fff;">{{ total_paid|format_with_commas }}</td>
        </table>
        <br/>
         <div class="col-2" style="max-width:40.333333%">
                <h3 style="text-align: justify; background-color:#fff; color:#000">Total IQD Amount:&nbsp;&nbsp;&nbsp;&nbsp;{{ total_price|format_with_commas }}&nbsp;&nbsp;IQD</h3>
                <h3 style="text-align: justify; background-color:#fff; color:#000">Total Paid Amount:&nbsp;&nbsp;&nbsp;&nbsp;{{ total_paid|format_with_commas }}&nbsp;&nbsp;IQD</h3>
                <h3 style="text-align: justify; background-color:#fff; color:#000">Remaining Amount:&nbsp;&nbsp;&nbsp;&nbsp;{{ total_remaining|format_with_commas }}&nbsp;&nbsp;IQD</h3>
</div>
        <!--
        <td ><span style="font-weight: bold; background-color:#555; color:#fff; text-align:right;"> &nbsp; &nbsp; &nbsp; &nbsp;Total Price: {{ total_price|format_with_commas }}</span></td>
        <br/>
        <br/>
<td ><span style="font-weight: bold; background-color:#555; color:#fff; text-align:right;"> &nbsp; &nbsp; &nbsp; &nbsp;Total Remaining: {{ total_remaining|format_with_commas }}</span></td>
-->
    </div>
</div>
<hr class="border border-primary border-3 opacity-40">
<!--

    <h4 style="display:inline; font-size:14px" align="left">دهوك -جاددا ماسيك/ به رامبه ري ياريكا برا 0750&nbsp;555&nbsp;5555&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--></h4>
مع
        التمنيات بالشفاء العاجل
    </div></div>
</body>

{% endblock %}