{% extends 'base.html'  %}
{% load static %}
{% block navbar %}

{% endblock %}
{% block content %}
{% load custom_filters %}
<br/>
<br/><br/>

<p align="center"
   style="font-size:20px; color:#900; font-weight:bold; background-image: url({% static 'website/images/bb.jpg'  %}); background-repeat:no-repeat;">
    نوژدار
    <br/>دلخاز فخري ئاميدي<br/>نوزدارى و نشته کە ریا ده ڤ وددانا <br/>تایبه تمه ندى راستکریا
    ددانا<br/>B.D.S/M.SC.Ortho</br>
    <br/>عطلة العيادة الخميس والجمعة </p>
<hr class="border border-primary border-3 opacity-40">
<div class="container">
    <div class="row">

       <h1 style="text-align:center;">Payment Invoice For Patient </h1>
        <div style="font-weight: bold;">
            {% if debts %}
            <p>
                Name: {{ debts.0.name }} &nbsp; &nbsp; &nbsp; &nbsp;
                Gender: {{ debts.0.gender }} &nbsp; &nbsp; &nbsp; &nbsp;
                Phone Number: {{ debts.0.phone }} &nbsp; &nbsp; &nbsp; &nbsp;
            </p>
            {% endif %}
        </div>
        <table class="table table-hover">
            <thead style="background-color:#555; color:#fff;">
            <tr>

              <!--<th style="text-align:center;" scope="col">
#</th>
              <th style="text-align:center;" scope="col">
#</th>
              <th style="text-align:center;" scope="col">
First Visit</th>
              <th style="text-align:center;" scope="col">
Implant</th>
              <th style="text-align:center;" scope="col">
Diameter</th>
              <th style="text-align:center;" scope="col">
Length</th>
              <th style="text-align:center;" scope="col">
No Of Implant</th>
                 <th style="text-align:center;" scope="col">
Shade</th>
              <th style="text-align:center;" scope="col">
color</th>
               <th style="text-align:center;" scope="col">
Notes</th>-->
              <th style="text-align:center;" scope="col">Upper Right</th>
              <th style="text-align:center;" scope="col">Upper Left</th>
              <th style="text-align:center;" scope="col">Lower Right</th>
              <th style="text-align:center;" scope="col">Lower Left</th>
              <th style="text-align:center;" scope="col">Price</th>
              <th style="text-align:center;" scope="col">Total Price</th>
              <th style="text-align:center;" scope="col">Paid</th>

            </tr>
            </thead>
            <tbody>
            {% for debt in debts %}
            <tr style="color: {% if debt.total_price != debt.paid %}red{% else %}black{% endif %}">
              <!--<td>{{ debt.id }}</td>
              <td>{{ debt.idReception_id }}</td>
              <td >{{ debt.first_visit }}</td>
              <td >{{ debt.implant }}</td>
              <td >{{ debt.diameter }}</td>
              <td >{{ debt.length }}</td>
              <td >{{ debt.no_Implant }}</td>
              <td >{{ debt.shade }}</td>
              <td >{{ debt.no_unite }}</td>
              <td >{{ debt.color }}</td>
                <td >{{ debt.note }}</td>-->
              <td style="text-align:center;" scope="col">{{ debt.ur|slice:"1:-1" }}</td>
              <td style="text-align:center;" scope="col">{{ debt.ul|slice:"1:-1" }}</td>
              <td style="text-align:center;" scope="col">{{ debt.lr|slice:"1:-1" }}</td>
              <td style="text-align:center;" scope="col">{{ debt.ll|slice:"1:-1" }}</td>
              <td style="text-align:center;" scope="col">{{ debt.price|format_with_commas }}</td>
              <td style="text-align:center;" scope="col">{{ debt.total_price|format_with_commas }}</td>
              <td style="text-align:center;" scope="col">{{ debt.paid|format_with_commas }}</td>

            </tr>
            {% endfor %}
        </table>
        <td colspan="6"><span style="font-weight: bold; background-color:#e0ad11; color:#fff; text-align:right;">Total Remaining: {{ total_remaining|format_with_commas }}</span></td>

    </div>
</div>


<footer id="footer">
    <hr class="border border-primary border-3 opacity-40">
    <h4 style="display:inline; font-size:14px" align="left">دهوك -جاددا ماسيك/ به رامبه ري ياريكا برا 0750&nbsp;555&nbsp;5555&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مع
        التمنيات بالشفاء العاجل</h4>
</footer>


{% endblock %}