{% load static %}

{% block content %}
{% load custom_filters %}
<br/>

<div class="container body">
    <div class="right_col" role="main" style="width: 100%">
<p align="center"
   style="font-size:16px; color:#900; font-weight:bold; background-image: url({% static 'website/images/bb.jpg'  %}); background-repeat:no-repeat;">

    <br/>COSMOLIGHT DENTAL CENTER<!--<br/>نوزدارى و نشته کە ریا ده ڤ وددانا <br/>تایبه تمه ندى راستکریا
    ددانا<br/>B.D.S/M.SC.Ortho</br>عطلة العيادة الخميس والجمعة </p>-->
<hr class="border border-primary border-3 opacity-40">
        <p style="text-align: right;" ><img src="{% static 'website/images/img.jpg'  %}"
                                             alt="..." class="img-circle profile_img"> &nbsp; &nbsp;<img src="{% static 'website/images/bar.png'  %}"
                                             alt="..." class="img-circle profile_img"></p>
        <br/>
        <h4 style="font-weight:bold;">https://cosmolightgroup.org</h4>
<hr class="border border-primary border-3 opacity-40">
<div class="col-8">
    <div class="row">


        <h4 style="text-align:center;">Payment Invoice For Veneer Patient </h4>
        <div style="font-weight: bold;">
            {% if debts %}
            <p>
                Name: {{ debts.0.name }} &nbsp; &nbsp; &nbsp; &nbsp;
                <!--Gender: {{ debts.0.gender }} &nbsp; &nbsp; &nbsp; &nbsp;-->
                Phone Number: {{ debts.0.phone }} &nbsp; &nbsp; &nbsp; &nbsp;
            </p>
            {% endif %}
        </div>
        <table class="table table-hover">
            <thead style="background-color:#555; color:#fff;">
            <tr>

                <th style="text-align:center;" scope="col">#</th>
                <th style="text-align:center;" scope="col">Previous Date</th>
                <th style="text-align:center;" scope="col">Paid</th>


            </tr>
            </thead>
            <tbody>
            {% for debt in debts %}
            <tr style="color: {% if debt.total_price != debt.paid %}red{% else %}black{% endif %}">
                <td style="text-align:center;">{{ debt.id }}</td>
                <td style="text-align:center;">{{ debt.previous_date }}</td>
                <td style="text-align:center;">{{ debt.paid_amount|format_with_commas }}</td>
            </tr>
            {% endfor %}

        </table>
        <td ><span style="font-weight: bold; background-color:#555; color:#fff; text-align:right;"> &nbsp; &nbsp; &nbsp; &nbsp;Total Price: {{ total_price|format_with_commas }}</span></td>
<td ><span style="font-weight: bold; background-color:#555; color:#fff; text-align:right;"> &nbsp; &nbsp; &nbsp; &nbsp;Total Remaining: {{ total_remaining|format_with_commas }}</span></td>

    </div>
</div>

<hr class="border border-primary border-3 opacity-40">
<!--

    <h4 style="display:inline; font-size:14px" align="left">دهوك -جاددا ماسيك/ به رامبه ري ياريكا برا 0750&nbsp;555&nbsp;5555&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--></h4>
مع
        التمنيات بالشفاء العاجل
    </div></div></body>

{% endblock %}