
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">

<body>
<br/>
<br/><br/>


<p align="center"
   style="font-size:20px; color:#900; font-weight:bold; background-repeat:no-repeat;">
    نوژدار
    <br/>u"دلخاز فخري ئاميدي"<br/>نوزدارى و نشته کە ریا ده ڤ وددانا <br/>تایبه تمه ندى راستکریا
    ددانا<br/>B.D.S/M.SC.Ortho</br>
    <br/>عطلة العيادة الخميس والجمعة </p>
<hr class="border border-primary border-3 opacity-40">
<div class="container">
    <div class="row">

        <h1 style="text-align:center;">Payment Invoice</h1>
        <div style="font-weight: bold;">
            {% if debts %}
            <p>
                Name: {{ debts.0.name }} &nbsp; &nbsp; &nbsp; &nbsp;
                Gender: {{ debts.0.gender }} &nbsp; &nbsp; &nbsp; &nbsp;
                Phone Number: {{ debts.0.phone }} &nbsp; &nbsp; &nbsp; &nbsp;
                Date of Birth: {{ debts.0.date_of_birth }}
            </p>
            {% endif %}
        </div>
        <table class="table table-hover">
            <thead >
            <tr>

                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">Shade</th>
                <th scope="col">No of Unite</th>
                <th scope="col">Color</th>
                <th scope="col">No of Pre.Unite</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
                <th scope="col">Paid</th>
                <th scope="col">Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for debt in debts %}
            <tr style="color: {% if debt.total_price != debt.paid %}red{% else %}black{% endif %}">
                <td >{{ debt.id }}</td>
                <td >{{ debt.idReception_id }}</td>
                <td >{{debt.shade}}</td>
                <td >{{debt.no_unite}}</td>
                <td >{{debt.color}}</td>
                <td >{{debt.no_prepare}}</td>
                <td >{{ debt.price }}</td>
                <td >{{ debt.total_price }}</td>
                <td >{{ debt.paid }}</td>
                <td >{{ debt.note }}</td>
            </tr>
            {% endfor %}
        </table>
        <td colspan="6"><span style="font-weight: bold; background-color:#e0ad11; color:#fff;">Total Remaining: {{ total_remaining|floatformat:2 }}</span></td>

    </div>
</div>


<footer id="footer">
    <hr class="border border-primary border-3 opacity-40">
    <h4 style="display:inline; font-size:14px" align="left">دهوك -جاددا ماسيك/ به رامبه ري ياريكا برا 0750&nbsp;555&nbsp;5555&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مع
        التمنيات بالشفاء العاجل</h4>
</footer>


</body>
</html>