{% extends 'base.html'  %}
{% load static %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<section class="ftco-intro">
 <div class="container">
	 <div class="row">
		 <div class="col-lg-10 color-11 p-4">
             <h3 style="background-color:#f7bc0f; color:#fff; padding-top: 15px; padding-bottom: 15px; font-weight: bold; text-align: center;"> Booked Appointments</h3>
			 <table class="table table-hover">

				 <thead style="text-align: justify; background-color:#17a2b8; color:#fff">

				 <tr>
					 <th scope="col">#</th>
                     <th scope="col">Full Name</th>
                     <th scope="col">Phone Number</th>
                     <th scope="col">Gender</th>
                     <th scope="col">Date of Birth</th>
					 <th scope="col">Dr.Name</th>
					 <th scope="col">St.Name</th>
					 <th scope="col">App.Date</th>
					 <th scope="col">Day Name</th>
					 
					 <th scope="col">Time</th>
					 <th scope="col">Print</th>
				 </tr>
				 </thead>
				 <tbody>
				 {% for gave in gaves %}
				 <tr>
					 <td scope="row">{{gave.id}}</td>
                     <td> {{gave.name}}</td>
                     <td> {{gave.phone}}</td>
                     <td> {{gave.gender}}</td>
                     <td> {{gave.date_of_birth}}</td>
					 <td>{{gave.doctor}}</td>
					 <td>{{gave.educational}}</td>
					 <td>{{gave.app_data}}</td>
					 <td>{{gave.days}}</td>
					 <td>{{gave.time|slice:"1:-1"}}</td>
					 {% if user.is_authenticated %}
					 {% if user.role == 'admin' or user.role == 'doctor'  or user.role == 'user' or user.role == 'educational_center' or user.role == 'patient'  %}
					 <td><a href="{% url 'print-appointment'  gave.id  %}" style="display: inline;" class="btn btn-outline-info">Print Appointment</a></td>
					 {% endif %}
					 {% endif %}


				 </tr>
				 {% endfor %}
				 </tbody>
			 </table>
		 </div>
	 </div>
 </div>
</section>
	</div>
</div>
</body>

{% endblock %}
