{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    {%if user.is_authenticated%}
    <form class="form-inline" method="POST" action="{% url 'search-reception' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-4" type="search" placeholder="Search For Patient" aria-label="Search"
               name="searched">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
</nav>
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Patient Information</li>
            </ol>
        </nav>
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <table class="table table-hover">
                    <thead style="background-color:#73ccf0; color:#fff;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Patient Phone</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Date of Appointment</th>
                        <th scope="col">Days</th>
                        <th scope="col">Time</th>
                        <th scope="col" colspan="">Update</th>
                        <th scope="col" colspan="">Delete</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td scope="row">{{appointment.id}}</td>
                        <td scope="row">{{appointment.name}}</td>
                        <td> {{appointment.phone}}</td>
                        <td> {{appointment.gender}}</td>
                        <td> {{appointment.date_of_birth}}</td>
                        <td scope="row">{{appointment.doctor}}</td>
                        <td scope="row" {% if appointment.app_data < twenty_four_hours_from_now %}class="red-date"{% endif %}>{{ appointment.app_data }}</td>
                        <td scope="row">{{appointment.days}}</td>
                        <td scope="row">{{appointment.time|slice:"1:-1"}}</td>
                        <td><a href="{% url 'update-reception' appointment.id %}" style="display: inline;"><span class="btn btn-outline-warning">Update</span></a></td>
                        <td><a href="{% url 'delete-reception'  appointment.id  %}" style="display: inline;"><span class="btn btn-outline-danger">Delete</span></a></td>
                        <!-- <th scope="col" colspan="">Send Reminder</th><td><a href="{% url 'send_appointment_reminders' %}">Send Reminder</a></td>-->

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}