{% extends 'base.html'  %}
{% load static %}
{% block content %}
{% load custom_filters %}
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
    {%if user.is_authenticated%}
    <form method="get" action="{% url 'all-total' %}" class="form-inline">
    <label for="start_date" style="font-size:20px; font-weight: bold;">Start Date:</label>
    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">

    <label for="start_date" style="font-size:20px; font-weight: bold;">End Date:</label>
    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    {% endif %}
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Total Reports From Start Date To End Date</li>
    </ol>
</nav>
<br/>
<div class="row">
    <div class="col-12">
        <div class="accordion-item">
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h3>From: {{ start_date }} To {{ end_date }}</h3>
                    <table class="table table-hover">
                        <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
                        <tr>
                            <th scope="row"> Exo Total Price</th>
                            <th scope="row"> Filling Total Price</th>
                            <th scope="row"> Pedo Total Price</th>
                            <th scope="row"> Crown Total Price</th>
                            <th scope="row"> Veneer Total Price</th>
                            <th scope="row"> OralSurgery Total Price</th>
                            <th scope="row"> Endo Total Price</th>
                            <th scope="row"> Ortho Total Price</th>
                            <th scope="row"> Periodontology Total Price</th>
                            <th scope="row"> Prosthodontics Total Price</th>
                            <th scope="row"> Salary Total Price</th>
                            <th scope="row"> OutCome Total Price</th>
                            <th scope="row"> Benefit</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center;" >{{total_exo}}</td>
                            <td style="text-align: center;" >{{total_filling}}</td>
                            <td style="text-align: center;" >{{total_pedo}}</td>
                            <td style="text-align: center;" >{{total_crown}}</td>
                            <td style="text-align: center;" >{{total_veneer}}</td>
                            <td style="text-align: center;" >{{total_oralSurgery}}</td>
                            <td style="text-align: center;" >{{total_endo}}</td>
                            <td style="text-align: center;" >{{total_ortho}}</td>
                            <td style="text-align: center;" >{{total_periodontology}}</td>
                            <td style="text-align: center;" >{{total_prosthodontics}}</td>
                            <td style="text-align: center;" >{{total_salary }}</td>
                            <td style="text-align: center;" >{{total_outcome}}</td>
                            <td style="text-align: center;" >{{remaining}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <h3></h3>
            </div>
        </div>
    </div>
</div>

<br/>
<div class="row"
     style="padding-left: 60px;  padding-right: 60px; background: #fff; align-content: center; color: white; border-radius: 10px">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo"
                            style="text-align: justify; background-color:#17a2b8; color:#fff">
                        All Details
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                     aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if search_results %}
                        {% for model_name, results in search_results %}
                        {% if results %}
                        <h2>{{ model_name }} Results</h2>
                        <table class="table table-hover">
                            <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
                            <tr>
                                {% if model_name == 'Exo' %}
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >Upper Right</th>
        <th scope="col"  style="text-align: center;" >Upper Left</th>
        <th scope="col"  style="text-align: center;" >Lower Right</th>
        <th scope="col"  style="text-align: center;" >Lower Left</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col"  style="text-align: center;" >Total Price</th>
        <th scope="col"  style="text-align: center;" >Paid</th>
        <th scope="col"  style="text-align: center;" >Notes</th>
        <th scope="col"  style="text-align: center;" >Exo by Surgery</th>
        <th scope="col"  style="text-align: center;" >Simple Exo</th>
        <th scope="col"  style="text-align: center;" >Complicated</th>
        {% elif model_name == 'Crown' %}
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >Shade</th>
        <th scope="col"  style="text-align: center;" >No of Unite</th>
        <th scope="col"  style="text-align: center;" >Color</th>
        <th scope="col"  style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col"  style="text-align: center;" >Total Price</th>
        <th scope="col"  style="text-align: center;" >Paid</th>
        <th scope="col"  style="text-align: center;" >Notes</th>
        {% elif model_name == 'Filling' %}
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >Filling Type</th>
        <th scope="col"  style="text-align: center;" >Filling Place</th>
        <th scope="col"  style="text-align: center;" >Upper Right</th>
        <th scope="col"  style="text-align: center;" >Upper Left</th>
        <th scope="col"  style="text-align: center;" >Lower Right</th>
        <th scope="col"  style="text-align: center;" >Lower Left</th>
        <th scope="col"  style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col"  style="text-align: center;" >Total Price</th>
        <th scope="col"  style="text-align: center;" >Paid</th>
        <th scope="col"  style="text-align: center;" >Notes</th>
        {% elif model_name == 'Pedo' %}
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >Pedo Type</th>
        <th scope="col"  style="text-align: center;" >Pedo Place</th>
        <th scope="col"  style="text-align: center;" >Upper Right</th>
        <th scope="col"  style="text-align: center;" >Upper Left</th>
        <th scope="col"  style="text-align: center;" >Lower Right</th>
        <th scope="col"  style="text-align: center;" >Lower Left</th>
        <th scope="col"  style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col"  style="text-align: center;" >Total Price</th>
        <th scope="col"  style="text-align: center;" >Paid</th>
        <th scope="col"  style="text-align: center;" >Notes</th>
        {% elif model_name == 'Veneer' %}
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >Shade</th>
        <th scope="col"  style="text-align: center;" >No of Unite</th>
        <th scope="col"  style="text-align: center;" >Color</th>
        <th scope="col"  style="text-align: center;" >No of Pre.Unite</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col"  style="text-align: center;" >Total Price</th>
        <th scope="col"  style="text-align: center;" >Paid</th>
        <th scope="col"  style="text-align: center;" >Notes</th>
        {% elif model_name == 'OralSurgery' %}
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >#</th>
        <th scope="col"  style="text-align: center;" >First Visit</th>
        <th scope="col"  style="text-align: center;" >Implant</th>
        <th scope="col"  style="text-align: center;" >Diameter</th>
        <th scope="col"  style="text-align: center;" >Length</th>
        <th scope="col"  style="text-align: center;" >No Of Implant</th>
        <th scope="col"  style="text-align: center;" >Upper Right</th>
        <th scope="col"  style="text-align: center;" >Upper Left</th>
        <th scope="col"  style="text-align: center;" >Lower Right</th>
        <th scope="col"  style="text-align: center;" >Lower Left</th>
        <th scope="col"  style="text-align: center;" >Shade</th>
        <th scope="col"  style="text-align: center;" >No Of Uint</th>
        <th scope="col"  style="text-align: center;" >color</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col"  style="text-align: center;" >Total Price</th>
        <th scope="col"  style="text-align: center;" >Paid</th>
        <th scope="col"  style="text-align: center;" >Notes</th>
        {% elif model_name == 'Endo' %}
        <th style="text-align: center;" scope="col">Upper Right</th>
        <th style="text-align: center;" scope="col">Upper Left</th>
        <th style="text-align: center;" scope="col">Lower Right</th>
        <th style="text-align: center;" scope="col">Lower Left</th>
        <th style="text-align: center;" scope="col">Canal</th>
        <th style="text-align: center;" scope="col">Work Length</th>
        <th style="text-align: center;" scope="col">no_prepare</th>
        <th style="text-align: center;" scope="col">Price</th>
        <th style="text-align: center;" scope="col">Total Price</th>
        <th style="text-align: center;" scope="col">Paid</th>
        <th style="text-align: center;" scope="col">Notes</th>

        {% elif model_name == 'Ortho' %}
        <th scope="col" style="text-align: center;" class="hideable">Upper Right</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Right NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left NOW</th>
        <th scope="col" style="text-align: center;" class="hideable">Teeth Type</th>
        <th scope="col" style="text-align: center;" class="hideable">angle_class</th>
        <th scope="col" style="text-align: center;" class="hideable">over_jet</th>
        <th scope="col" style="text-align: center;" class="hideable">over_bt</th>
        <th scope="col" style="text-align: center;" class="hideable">jow_shift</th>
        <th scope="col" style="text-align: center;" class="hideable">midlin_shift</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Right S</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left S</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right S</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left S</th>
        <th scope="col" style="text-align: center;" class="hideable">teeth_size</th>
        <th scope="col" style="text-align: center;" class="hideable">treatment_plan</th>
        <th scope="col"  style="text-align: center;" >Price</th>
        <th scope="col" style="text-align: center;" class="hideable">paid</th>
        <th scope="col" style="text-align: center;" class="hideable">Notes</th>
         {% elif model_name == 'Prosthodontics' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >Name</th>
        <th scope="col" style="text-align: center;" >Phone Number</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Right</th>
        <th scope="col" style="text-align: center;" class="hideable">Upper Left</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Right</th>
        <th scope="col" style="text-align: center;" class="hideable">Lower Left</th>
        <th scope="col" style="text-align: center;" class="hideable">Complete Denture</th>
        <th scope="col" style="text-align: center;" class="hideable">C.Upper Denture</th>
        <th scope="col" style="text-align: center;" class="hideable">C.Lower Denture</th>
        <th scope="col" style="text-align: center;" class="hideable">Partial Denture</th>
        <th scope="col" style="text-align: center;" class="hideable">Notes</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th style="text-align: center;" scope="col">Total Price</th>
        <th scope="col" style="text-align: center;" class="hideable">paid</th>
         {% elif model_name == 'Periodontology' %}
        <th scope="col" style="text-align: center;" >#</th>
        <th scope="col" style="text-align: center;" >Name</th>
        <th scope="col" style="text-align: center;" >Phone Number</th>
        <th scope="col" style="text-align: center;" class="hideable">Type</th>
        <th scope="col" style="text-align: center;" class="hideable">Notes</th>
        <th scope="col" style="text-align: center;" >Price</th>
        <th style="text-align: center;" scope="col">Total Price</th>
                                <th scope="col" style="text-align: center;" class="hideable">paid</th>
                                {% elif model_name == 'Salary' %}
                                <th scope="col" style="text-align: center;">#</th>
                                <th scope="col" style="text-align: center;">#</th>
                                <th scope="col" style="text-align: center;">Employ Name</th>
                                <th scope="col" style="text-align: center;"> salaryPaid</th>
                                <th scope="col" style="text-align: center;">days</th>
                                <th scope="col" style="text-align: center;">finalSalary</th>
                                <th scope="col" style="text-align: center;">Month</th>
                                {% elif model_name == 'Outcome' %}
                                <th scope="col" style="text-align: center;">#</th>
                                <th scope="col" style="text-align: center;">invoice_num</th>
                                <th scope="col" style="text-align: center;">invoice_date</th>
                                <th scope="col" style="text-align: center;">type</th>
                                <th scope="col" style="text-align: center;">description</th>
                                <th scope="col" style="text-align: center;">price</th>
                                <th scope="col" style="text-align: center;">Reg.Date</th>
                                {% endif %}
                                <!-- ... other header columns ... -->
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in results %}
                            <tr>
                                {% if model_name == 'Exo' %}
                                <td style="text-align: center;">{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;" >{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.price|format_with_commas }}</td>
        <td style="text-align: center;" >{{ result.total_price|format_with_commas }}</td>
        <td style="text-align: center;" >{{ result.paid|format_with_commas }}</td>
        <td style="text-align: center;" >{{ result.note }}</td>
        <td style="text-align: center;" >{{ result.exoby|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.simpleexo|slice:"1:-1" }}</td>
        <td style="text-align: center;" >{{ result.complcated|slice:"1:-1" }}</td>
        {% elif model_name == 'Crown' %}
        <td scope="row" style="text-align: center;" >{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.shade}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_unite}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.color}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_prepare}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.price|format_with_commas}}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{result.total_price|format_with_commas }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{result.paid|format_with_commas }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.note}}</td>
        <!-- ... other crown-related fields ... -->
        {% elif model_name == 'Filling' %}
        <td scope="row" style="text-align: center;" >{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td scope="row" style="text-align: center;" >{{result.filling_type}}</td>
        <td scope="row" style="text-align: center;" >{{result.filling_place|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.ur|slice:"1:-1" }}</td>
        <td scope="row" style="text-align: center;" >{{result.ul|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.lr|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.ll|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.no_prepare}}</td>
        <td scope="row" style="text-align: center;" >{{result.price|format_with_commas}}</td>
        <td scope="row" style="text-align: center;" >{{result.total_price|format_with_commas}}</td>
        <td scope="row" style="text-align: center;" >{{result.paid|format_with_commas}}</td>
        <td scope="row" style="text-align: center;" >{{result.note}}</td>
         {% elif model_name == 'Pedo' %}
        <td scope="row" style="text-align: center;" >{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td scope="row" style="text-align: center;" >{{result.filling_type}}</td>
        <td scope="row" style="text-align: center;" >{{result.filling_place|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.ur|slice:"1:-1" }}</td>
        <td scope="row" style="text-align: center;" >{{result.ul|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.lr|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.ll|slice:"1:-1"}}</td>
        <td scope="row" style="text-align: center;" >{{result.no_prepare}}</td>
        <td scope="row" style="text-align: center;" >{{result.price|format_with_commas}}</td>
        <td scope="row" style="text-align: center;" >{{result.total_price|format_with_commas}}</td>
        <td scope="row" style="text-align: center;" >{{result.paid|format_with_commas}}</td>
        <td scope="row" style="text-align: center;" >{{result.note}}</td>
        {% elif model_name == 'Veneer' %}
        <td style="text-align: center;"  scope="row">{{ result.id}}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.shade}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_unite}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.color}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.no_prepare}}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.price|format_with_commas}}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.total_price|format_with_commas }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.paid|format_with_commas }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.note}}</td>
        {% elif model_name == 'OralSurgery' %}
        <td style="text-align: center;" scope="row">{{ result.id }}</td>
        <td style="text-align: center;" >{{ result.idReception_id }}</td>
        <td style="text-align: center;" scope="row">{{ result.first_visit }}</td>
        <td style="text-align: center;" scope="row">{{ result.implant }}</td>
        <td style="text-align: center;" scope="row">{{ result.diameter }}</td>
        <td style="text-align: center;" scope="row">{{ result.length }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_Implant }}</td>
        <td style="text-align: center;" scope="row">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.shade }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_unite }}</td>
        <td style="text-align: center;" scope="row">{{ result.color }}</td>
        <td style="text-align: center;" scope="row">{{ result.price|format_with_commas }}</td>
        <td style="text-align: center;" scope="row">{{ result.total_price|format_with_commas }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.paid|format_with_commas }}</td>
        <td style="text-align: center;"  scope="row" align="center">{{result.note}}</td>
         {% elif model_name == 'Endo' %}
        <td style="text-align: center;" scope="row">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.canal|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.work_length }}</td>
        <td style="text-align: center;" scope="row">{{ result.no_prepare }}</td>
        <td style="text-align: center;">{{ result.price }}</td>
        <td style="text-align: center;">{{ result.total_price|format_with_commas }}</td>
        <td style="text-align: center;" scope="row">{{ result.paid|format_with_commas }}</td>
        <td style="text-align: center;" scope="row">{{ result.note }}</td>
        {% elif model_name == 'Ortho' %}
        <td style="text-align: center;" scope="row" class="hideable">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.urn|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.uln|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lrn|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lln|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.teeth_type|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.angle_class }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.over_jet }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.over_bt }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.jow_shift }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.midlin_shift }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.urs|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.uls|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lrs|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.lls|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.teeth_size |slice:"1:-1" }}</td>
        <td style="text-align: center; word-wrap: break-word;" scope="row" class="hideable">{{ result.treatment_plan }}</td>
        <td style="text-align: center;">{{ result.price|format_with_commas}}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.paid|format_with_commas }}</td>
        <td style="text-align: center;" scope="row" class="hideable">{{ result.notes }}</td>
        {% elif model_name == 'Prosthodontics' %}
        <td style="text-align: center;"  scope="row" align="center"> {{ result.id }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.name }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.phone }}</td>
        <td style="text-align: center;" scope="row">{{ result.ur|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ul|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.lr|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.ll|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.denture|slice:"1:-1" }}</td>
        <td style="text-align: center;" scope="row">{{ result.upper }}</td>
        <td style="text-align: center;" scope="row">{{ result.lower }}</td>
        <td style="text-align: center;" scope="row">{{ result.partial }}</td>
        <td style="text-align: center;">{{ result.price|format_with_commas }}</td>
        <td style="text-align: center;">{{ result.total_price|format_with_commas }}</td>
        <td style="text-align: center;" scope="row">{{ result.paid|format_with_commas }}</td>
         {% elif model_name == 'Periodontology' %}
        <td style="text-align: center;"  scope="row" align="center"> {{ result.id }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.name }}</td>
        <td style="text-align: center;"  scope="row" align="center"> {{ result.phone }}</td>
        <td style="text-align: center;" scope="row">{{ result.type }}</td>
        <td style="text-align: center;">{{ result.price|format_with_commas }}</td>
        <td style="text-align: center;">{{ result.total_price|format_with_commas }}</td>
        <td style="text-align: center;" scope="row">{{ result.paid|format_with_commas }}</td>
                                {% elif model_name == 'Salary' %}
                                <td scope="row" style="text-align: center;" >{{result.id}}</td>
                                <td scope="row" style="text-align: center;" >{{result.idBasicInfo_id}}</td>
                                <td scope="row" style="text-align: center;" >{{result.fullname}}</td>
                                <td scope="row" style="text-align: center;" >{{result.salaryPaid}}</td>
                                <td scope="row" style="text-align: center;" >{{result.days}}</td>
                                <td scope="row" style="text-align: center;" >{{result.finalSalary|format_with_commas}}</td>
                                <td scope="row" style="text-align: center;" >{{result.month}}</td>
                                {% elif model_name == 'Outcome' %}
                                <td scope="row" style="text-align: center;" >{{result.id}}</td>
                                <td scope="row" style="text-align: center;" >{{result.invoice_num}}</td>
                                <td scope="row" style="text-align: center;" >{{result.invoice_date}}</td>
                                <td scope="row" style="text-align: center;" >{{result.type}}</td>
                                <td scope="row" style="text-align: center;" >{{result.description}}</td>
                                <td scope="row" style="text-align: center;" >{{result.price|format_with_commas}}</td>
                                <td scope="row" style="text-align: center;" >{{result.regdate}}</td>
                                {% endif %}
                                <!-- ... other fields ... -->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No {{ model_name }} results found.</p>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p>No results found.</p>
                        {% endif %}
                        <br/><br/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div></body>

{% endblock %}