{% extends 'base.html'  %}

{% load static %}
{% block content %}

                <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Show Booked Appointments
                </button>

                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            {% if gaves1 %}
                            <table class="table table-hover">
                                <thead style="text-align: center; background-color:#17a2b8; color:#fff">
                                <h2 style="text-align: center; color:#000">Booked Appointments for the Week</h2>
                                <tr>
                                    <th style="text-align: center;" scope="col" class="hideable">Day</th>
                                    <th style="text-align: center;" scope="col" class="hideable">Doctor</th>
                                    <th style="text-align: center;" scope="col" class="hideable">Booked Date</th>
                                    <th style="text-align: center;" scope="col" class="hideable">Booked Times</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for day in week_days %}
                                <tr>
                                    <td style="text-align: center;" scope="row">{{ day }}</td>
                                    <td style="text-align: center;" scope="row">{% for gave in gaves1 %} {% if gave.days == day %} {{ gave.doctor }}<br/>{% endif %} {% endfor %}
                                    </td>
                                    <td style="text-align: center;" scope="row">{% for gave in gaves1 %} {% if gave.days == day %} {{ gave.app_data }}<br/>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td style="text-align: center;" scope="row">
                                        {% for gave in gaves1 %}
                                        {% if gave.days == day %}
                                        {% for time, color in gave.time_colors %}
                                        <span style="color: {{ color }}">{{ time }}</span>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>No associated ID Reception data found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

{% endblock %}