
<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>ECONOARTS-TECH </title>

  <!-- Bootstrap -->
   <!-- Vendor CSS files -->
<link href="{% static 'website/vendors/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'website/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'website/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
<link href="{% static 'website/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
<link href="{% static 'website/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
<link href="{% static 'website/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

<!-- Bootstrap 5 CSS -->


<!-- Your custom CSS files -->
<link rel="stylesheet" href="{% static 'website/css/bootstrap1.min.css'%}">
<link rel="stylesheet" href="{% static 'website/css/bootstrap-datepicker.css'%}">
<link rel="stylesheet" href="{% static 'website/css/jquery.timepicker.css'%}">

<!-- Custom Theme Style -->
<link href="{% static 'website/build/css/custom.min.css' %}" rel="stylesheet">





  </head>

<body>

{% block navbar %}
   {% include 'navbar.html' %}
{% endblock %}


<!-- Button to trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">
    Show Booked Appointments
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

<table class="table table-hover">
    <thead style="text-align: center; background-color:#17a2b8; color:#fff">
        <tr>
            <th style="text-align: center;" scope="col">Day</th>
            <th style="text-align: center;" scope="col">Name</th>
            <th style="text-align: center;" scope="col">Booked Date</th>
            <th style="text-align: center;" scope="col">Booked Times</th>
        </tr>
    </thead>
    <tbody>
        {% for day in week_days %}
            {% with day_appointments=days_with_appointments|get_item:day %}
                <tr>
                    <td style="text-align: center;"  scope="row">{{ day }}</td>
                    {% if day_appointments %}
                        <td style="text-align: center;" scope="row">
                            {% for gave in day_appointments %}
                                {{ gave.name }} <br/>
                            {% endfor %}
                        </td>
                        <td style="text-align: center;"  scope="row">
                            {% for gave in day_appointments %}
                                {{ gave.app_data }} <br/>
                            {% endfor %}
                        </td>
            <td style="text-align: center;" scope="row">
    {% for gave in day_appointments %}
        {% for time, color in gave.time_colors %}
             <p style="color: {{ color }}; display: inline;">
                {{ time }}{% if not forloop.last %}, {% endif %}
            </p>
        {% endfor %}
        {% if not forloop.parent.last %}
            <br/>
        {% endif %}
    {% endfor %}
</td>
                    {% else %}
                        <td colspan="3">No appointments</td>
                    {% endif %}
                </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>


        </div>
    </div>
</div>


{% block content %}
{% endblock %}
<!--
<br/>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Cosmolight Dental_Center.</h2>
              <p>Our Dental Team is Ready to Help You.</p>
            </div>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
              <li class="ftco-animate"><a href="https://twitter.com/home"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://facebook.com/106622855727373"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.youtube.com/channel/UCx-dDgpEznfvCMMEHoEHm-A"><span class="icon-youtube"></span></a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'about' %}" class="py-2 d-block">About</a></li>
                <li><a href="{% url 'services' %}" class="py-2 d-block">Features</a></li>
                <li><a href="{% url 'doctors' %}" class="py-2 d-block">Projects</a></li>
                <li><a href="{% url 'contact' %}" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Social Links</h2>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/home"><span class="icon-twitter"></span> Twitter</a></li>
                <li><a href="https://facebook.com/106622855727373"><span class="icon-facebook"></span>Facebook</a></li>
                <li><a href="https://www.youtube.com/channel/UCx-dDgpEznfvCMMEHoEHm-A"><span
                        class="icon-youtube"></span>Youtube</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Office</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">750 222 33 66</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">econoarts@econoartstech.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://econoartstech.com" target="_blank">Econoartstech</a>
 Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.</p>
          </div>
        </div>
      </div>
    </footer>-->


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>


    <!-- jQuery -->
    <script src="{% static 'website/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'website/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'website/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'website/vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'website/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'website/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'website/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'website/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'website/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'website/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'website/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'website/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'website/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'website/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'website/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'website/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'website/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'website/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'website/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'website/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'website/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'website/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'website/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'website/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'website/js/jquery.timepicker.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'website/build/js/custom.min.js' %}"></script>





<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>



</body>
</html>