{% extends 'base.html'  %}
{% load static %}
{% block content %}
<br/>
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main" style="width: 100%">
<div class="row"
     style="padding-left: 60px;  padding-right: 60px; background: #fff; align-content: center; color: white; border-radius: 10px">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add New Appointment</li>
                </ol>
            </nav>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            style="text-align: justify; background-color:#17a2b8; color:#fff">
                        Appointment Information
                    </button>
                     {% if messages %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        <div>

                            <ul class="messages">
                                {% for message in messages %}
                                <li
                                        {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    {% endif %}
                </h2>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo"
                                   style="text-align: justify; background-color:#17a2b8; color:#fff">
                            Add New Appointment
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="idReception"
                                       value="{{ form.initial.idReception}}"
                                       class="form-control">


                                <div class="col-sm-2">
                                <label>Name</label>
                                <input type="text" name="name" value="{{ form.initial.name }}" class="form-control" readonly>
                                </div>
                                <div class="col-sm-2">
                                <label>Phone</label>
                                <input type="text" name="phone" value="{{ form.initial.phone }}" class="form-control"  readonly>
                                </div>
                                <div class="col-sm-2">
                                    <label>Gender</label>
                                    <input type="text" class="form-control" name="gender" required="required"
                                           value="{{ form.initial.gender }}" readonly>
                                </div>
                                <div class="col-sm-2">
                                    <label>Date of Birth</label>
                                    <input type="text" name="date_of_birth" class="form-control appointment_date"
                                           placeholder="Date of Birth" value="8/3/2023" readonly>
                                </div>

                                <input type="hidden" name="user_id" value="{{ form.initial.user_id }}"
                                       class="form-control appointment_date">
                                <div class="col-10">
								 <div class="col-sm-3">
									 <label>Doctor's Name</label>
									 <div class="form-group">
										 {{ form.doctor }}
									 </div>

								 </div>
                                     <div class="col-sm-3">
                                    <label>Date of Appointment</label>
                                    <input type="date" name="app_data" id="datepicker-3" required class="form-control">
                                </div>
                                <div class="col-sm-3">

                                    <label>Days</label>
                                    <input type="text" name="days" id="datepicker-4" readonly class="form-control">
<br/>
                                </div>
							 </div>


                                    <div class="col-sm-5">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="4:00pm">
                                            <label class="form-check-label">4:00pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="4:30pm">
                                            <label class="form-check-label">4:30pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="5:00pm">
                                            <label class="form-check-label">5:00pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="5:30pm">
                                            <label class="form-check-label">5:30pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="6:00pm">
                                            <label class="form-check-label">6:00pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="6:30pm">
                                            <label class="form-check-label">6:30pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="7:00pm">
                                            <label class="form-check-label">7:00pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="7:30pm">
                                            <label class="form-check-label">7:30pm</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="time" value="8:00pm">
                                            <label class="form-check-label">8:00pm</label>
                                        </div>
                                    </div>

                                    <br/>
                                 <div class="col-sm-5">
                                    <div class="form-group" style="text-align: center;">
                                        <input type="submit" value="Add New Appointment"
                                               class="btn btn-outline-info">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                             <thead style="background-color:#17a2b8; color:#fff;">
                            <tr>

                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Doctor Name</th>
                                <th scope="col">Appointment Date</th>
                                <th scope="col">Day Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Other</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for appointment in appointments %}
                            <tr>
                                <td text-align="center" scope="row">{{ appointment.id }}</td>
                                <td text-align="center" scope="row">{{ appointment.name }}</td>
                                <td text-align="center" scope="row">{{ appointment.phone }}</td>
                                <td text-align="center" scope="row">{{ appointment.doctor }}</td>
                                <td text-align="center" scope="row">{{ appointment.app_data }}</td>
                                <td text-align="center" scope="row">{{ appointment.days}}</td>
                                <td text-align="center" scope="row">{{ appointment.time|slice:"1:-1" }}</td>
                                <td><a href="{% url 'print-appointment'  appointment.id  %}" style="display: inline;" class="btn btn-outline-info">Print Appointment</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
    </div></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
$(document).ready(function () {
    var datePicker = $("#datepicker-3");
    var daysInput = $("#datepicker-4");
    var submitBtn = $("#submitBtn");

    function isThursdayOrFriday(date) {
        return date.getDay() === 4 || date.getDay() === 5;
    }

    datePicker.change(function () {
        var selectedDate = datePicker.val();
        var date = new Date(selectedDate);

        if (isThursdayOrFriday(date)) {
            alert("Our Dental Center is closed on Thursday and Friday. Thank you!");
            submitBtn.prop("enabled", true);
        } else {
            submitBtn.prop("enabled", false);
        }

        // Get day name for the selected date
        var dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var selectedDayName = dayNames[date.getDay()];

        // Update #datepicker-4 with the day name
        daysInput.val(selectedDayName);
    });

    submitBtn.on("click", function (event) {
        var selectedDate = datePicker.val();
        var date = new Date(selectedDate);

        if (isThursdayOrFriday(date)) {
            event.preventDefault();
            alert("Please select a date other than Thursday or Friday.");
        }
    });

    // Initial check on page load
    datePicker.trigger("change");
});
	</script>
</body>

{% endblock %}