{% extends 'base.html'  %}

{% load static %}
{% block content %}
  <body class="nav-md">
    <div class="container body">

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
      <div class="product_gallery" style="background-image: url({% static 'website/images/St2.png'  %});">

      <div class="product_gallery" style="background-image: url({% static 'website/images/bg_1.jpg' %}); background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 450px;">
<BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Show Booked Appointments</button>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {% if gaves %}

                <table class="table table-hover">
                    <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
					<h2 style="text-align: center; color:#000"># of Booked Appointments</h2>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Dr. Name</th>
							<th scope="col">Day Name</th>
                            <th scope="col">App. Date</th>

                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gave in gaves %}
						<tr>
							<td class="count" style="width:50px;">{{ forloop.counter }}</td>
							<td style="background-color: #f8d7da;">{{ gave.doctor }}</td>  <!-- Example: light red -->
							<td style="background-color: #d4edda;">{{ gave.days }}</td>   <!-- Example: light green -->
							<td style="background-color: #d1ecf1;">{{ gave.app_data }}</td><!-- Example: light blue -->
							<td style="background-color: #99caf0;">{{ gave.time|slice:"1:-1" }}</td><!-- Example: white -->
						</tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No associated ID Reception data found.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <br/>

	 <div class="col-10">
		 <div class="col-md-8 color-4 p-4" style="background:#2A3F54;">
             {% if messages %}
             <div class="alert alert-info d-flex align-items-center" role="alert" style="color: #fff;background-color: #17a2b8; font-size:20px;">
                 <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                     <use xlink:href="#exclamation-triangle-fill"/>
                 </svg>
                 <div>

                     <ul class="messages">
                         {% for message in messages %}
                         <li
                                 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                         </li>
                         {% endfor %}
                     </ul>

                 </div>
             </div>
             {% endif %}
			 <div class="col-10" style="background:#2A3F54; color:#fff; font-size:24px; text-align: center !important;"> Appointment Form</div>
			 <br/>
			 {%if user.is_authenticated%}
			 <form class="appointment-form" method="POST" id="myForm">
				 {% csrf_token %}
						 <div class="row">
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Full Name</label>
									 <input type="text" class="form-control" name="name" required>

								 </div>
							 </div>
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Phone Number</label>
									 <input type="text" class="form-control" name="phone" id="phone" required>
								 </div>
							 </div>

							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Gender</label>
									 {{ form.gender }}
								 </div>
							 </div>

							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Date of Birth</label>
									 <input type="date" name="date_of_birth" class="form-control appointment_date" required>
								 </div>
							 </div>
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Doctor's Name</label>
									 <div class="form-group">
										 {{ form.doctor }}
									 </div>

								 </div>
							 </div>
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Date of Appointment</label>
									 <input type="date" name="app_data" id="datepicker-3" required class="form-control">
								 </div>
							 </div>
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Days</label>
									 <input type="text" name="days" id="datepicker-4" readonly class="form-control">
								 </div>
							 </div>
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Notes</label>
									 <input type="text" name="note" class="form-control">
								 </div>
							 </div>
							 {%if user.is_authenticated%}
							 {% if user.role == 'educational_center' %}
							 <div class="col-sm-5">
								 <div class="form-group">
									 <label style="color:#fff; font-size:16px;">Student Name</label>
									 <div class="form-group">
										 {{ form.educational }}
									 </div>

								 </div>
							 </div>
							 {% endif %}
							 {% endif %}

							 <div class="col-sm-12">
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="4:00pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">4:00pm</label>
								 </div>

								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="4:30pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">4:30pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="5:00pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">5:00pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="5:30pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">5:30pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="6:00pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">6:00pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="6:30pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">6:30pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="7:00pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">7:00pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="7:30pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">7:30pm</label>
								 </div>
								 <div class="form-check form-check-inline">
									 <input type="checkbox" class="form-check-input" name="time" value="8:00pm"
											onclick="handleCheckboxClick(this)">
									 <label class="form-check-label" style="color:#fff;font-weight:bold;">8:00pm</label>
								 </div>
							 </div>
							 <div class="col-10" style="text-align: center !important;">
<br/>
								 <input type="submit" value="&nbsp; &nbsp;Apply For Appointment!&nbsp; &nbsp;" class="btn btn-round btn-info" style="color: #fff;background-color: #17a2b8;
  border-color: #17a2b8;" id="submi">
<!-- add id"submitbtn"-->							 </div>
						 </div>
			 </form>
			 {% endif %}
		 </div>

		 <div class="col-lg-6 color-11 p-4">
			 <!--
			 <table class="table table-hover">
<h3 style="background-color:#f7bc0f; color:#fff; padding-top: 15px; padding-bottom: 15px; font-weight: bold; text-align: center;"> Booked Appointments</h3>
				 <thead style="background-color:#05769b; color:#fff;">

				 <tr>
					 <th scope="col">#</th>
                     <th scope="col">Full Name</th>
                     <th scope="col">Phone Number</th>
                     <th scope="col">Gender</th>
                     <th scope="col">Date of Birth</th>
					 <th scope="col">Dr.Name</th>
					 <th scope="col">App.Date</th>
					 <th scope="col">Day Name</th>
					 <th scope="col">Time</th>
				 </tr>
				 </thead>
				 <tbody>
				 {% for appointment in appointments %}
				 <tr>
					 <td scope="row">{{appointment.id}}</td>
                     <td> {{appointment.name}}</td>
                     <td> {{appointment.phone}}</td>
                     <td> {{appointment.gender}}</td>
                     <td> {{appointment.date_of_birth}}</td>
					 <td>{{appointment.doctor}}</td>
					 <td>{{appointment.app_data}}</td>
					 <td>{{appointment.days}}</td>
					 <td>{{appointment.time|slice:"1:-1"}}</td>

				 </tr>
				 {% endfor %}
				 </tbody>
			 </table>-->
		 </div>
	 </div>
 </div>
</section>



     </div>
    </div>
	</div>
	</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // JavaScript function to handle checkbox click event
    function handleCheckboxClick(checkbox) {
        // Check if the user is logged in
        var isLoggedIn = checkUserLoginStatus();

        if (!isLoggedIn) {
            // Alert user if they are not logged in
            alert("You must be logged in to select multiple time slots.");
            checkbox.checked = false; // Uncheck the box if user is not logged in
        }
    }

    // Function to check user login status
    function checkUserLoginStatus() {
        // Now that you're logged in, return true
        return true; // User is logged in
    }
</script>
	<script>
$(document).ready(function () {
    var datePicker = $("#datepicker-3");
    var daysInput = $("#datepicker-4");
    var submitBtn = $("#submitBtn");

    function isThursdayOrFriday(date) {
        return date.getDay() === 4 || date.getDay() === 5;
    }

    datePicker.change(function () {
        var selectedDate = datePicker.val();
        var date = new Date(selectedDate);

        if (isThursdayOrFriday(date)) {
            alert("Our Dental Center is closed on Thursday and Friday. Thank you!");
            submitBtn.prop("enabled", true);
        } else {
            submitBtn.prop("enabled", false);
        }

        // Get day name for the selected date
        var dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var selectedDayName = dayNames[date.getDay()];

        // Update #datepicker-4 with the day name
        daysInput.val(selectedDayName);
    });

    submitBtn.on("click", function (event) {
        var selectedDate = datePicker.val();
        var date = new Date(selectedDate);

        if (isThursdayOrFriday(date)) {
            event.preventDefault();
            alert("Please select a date other than Thursday or Friday.");
        }
    });

    // Initial check on page load
    datePicker.trigger("change");
});
	</script>

	{% endblock %}