{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}
<br/>
<br/><br/>
<br/>
<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main" style="width: 100%">
<p align="center"
   style="font-size:20px; color:#900; font-weight:bold; background-image: url({% static 'website/images/bb.jpg'  %}); background-repeat:no-repeat;">
    نوژدار
    <br/>دلخاز فخري ئاميدي<br/>نوزدارى و نشته کە ریا ده ڤ وددانا <br/>تایبه تمه ندى راستکریا
    ددانا<br/>B.D.S/M.SC.Ortho</br>عطلة العيادة الخميس والجمعة </p>
<hr class="border border-primary border-3 opacity-40">
<div class="col-8">
    <div class="card-body">
        {% for drug in drugs %}
        <h3><p>Doctor Name:&nbsp;- &nbsp;{{ drug.name }}</p></h3>
        <h3><p>Doctor Name:&nbsp;- &nbsp;{{ drug.phone }}</p></h3>
        <h3><p>Doctor Name:&nbsp;- &nbsp;{{ drug.doctor }}</p></h3>
        <h3><p>Appointment Date:&nbsp;- &nbsp;{{ drug.app_data }}</p></h3>
        <h3><p>Day Name&nbsp;- &nbsp;{{ drug.days }}</p></h3>
        <h3><p>Time&nbsp;- &nbsp;{{ drug.time|slice:"1:-1" }}</p></h3>

        {% endfor %}
    </div>
</div>


<footer id="footer">
    <hr class="border border-primary border-3 opacity-40">
    <h4 style="display:inline; font-size:14px" align="left">دهوك -جاددا ماسيك/ به رامبه ري ياريكا برا 0750&nbsp;555&nbsp;5555&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;مع
        التمنيات بالشفاء العاجل</h4>
</footer>
    </div>
</div>
</body>
{% endblock %}
