<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <thead style="background-color:#73ccf0; color:#fff;">
    <tr>

        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Upper Right</th>
        <th scope="col">Upper Left</th>
        <th scope="col">Lower Right</th>
        <th scope="col">Lower Left</th>
        <th scope="col">No of Prepare Teeth</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Notes</th>
        <th scope="col">Exo by Surgery</th>
        <th scope="col">Simple Exo</th>
        <th scope="col">Complicated</th>
        <th scope="col">Exo Photo</th>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Shade</th>
        <th scope="col">No of Unite</th>
        <th scope="col">Color</th>
        <th scope="col">No of Pre.Unite</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Notes</th>
        <th scope="col">Crown Photo</th>
    </tr>
    </thead>
    <tbody>
    {% for exo, crown, filling, veneer in combined_data %}
    <tr>
        <td text-align="center" scope="row">{{ exo.idReception }}</td>
        <td text-align="center" scope="row">{{ exo.name }}</td>
        <td text-align="center" scope="row">{{ exo.phone }}</td>
        <td text-align="center" scope="row">{{ exo.gender }}</td>
        <td text-align="center" scope="row">{{ exo.date_of_birth }}</td>
        <td text-align="center" scope="row">{{exo.ur|slice:"1:-1" }}</td>
        <td text-align="center" scope="row">{{exo.ul|slice:"1:-1"}}</td>
        <td text-align="center" scope="row">{{exo.lr|slice:"1:-1"}}</td>
        <td text-align="center" scope="row">{{exo.ll|slice:"1:-1"}}</td>
        <td text-align="center" scope="row">{{exo.no_prepare}}</td>
        <td text-align="center" scope="row">{{exo.price}}</td>
        <td text-align="center" scope="row">{{exo.total_price}}</td>
        <td text-align="center" scope="row">{{exo.note}}</td>
        <td text-align="center" scope="row">{{exo.exoby|slice:"1:-1"}}</td>
        <td text-align="center" scope="row">{{exo.simpleexo|slice:"1:-1"}}</td>
        <td text-align="center" scope="row">{{exo.complcated |slice:"1:-1"}}</td>
        <td text-align="center" scope="row">{{ crown.idReception }}</td>
        <td text-align="center" scope="row">{{ crown.name }}</td>
        <td text-align="center" scope="row">{{ crown.phone }}</td>
        <td text-align="center" scope="row">{{ crown.gender }}</td>
        <td text-align="center" scope="row">{{ crown.date_of_birth }}</td>
        <td text-align="center" scope="row" align="center">{{crown.shade}}</td>
        <td text-align="center" scope="row" align="center">{{crown.no_unite}}</td>
        <td text-align="center" scope="row" align="center">{{crown.color}}</td>
        <td text-align="center" scope="row" align="center">{{crown.no_prepare}}</td>
        <td text-align="center" scope="row" align="center">{{crown.price}}</td>
        <td text-align="center" scope="row" align="center"> {{crown.total_price }}</td>
        <td text-align="center" scope="row" align="center">{{crown.note}}</td>

        <!-- Repeat similar fields for other models -->
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>