<!DOCTYPE html>

{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="ftco-intro">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-3 color-2 p-4">
				<h3 class="mb-4">Opening Hours</h3>
				<p class="openinghours d-flex">
					<span>Saturday</span>
					<span>16:00 - 21:00</span>
				</p>
				<p class="openinghours d-flex">
					<span>Sunday-Tuesday</span>
					<span>16:00 - 21:00</span>
				</p>
				<p class="openinghours d-flex">
					<span>Wednesday</span>
					<span>18:00 - 20:00</span>
				</p>
				<p class="openinghours d-flex">
					<span>Tuesday - Friday</span>
					<span>Clinic Holiday</span>
				</p>
			</div>
			<div class="col-md-8 color-3 p-4">
				<h3 class="mb-2">Make an Appointment</h3>
				<form action="" class="appointment-form" method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-5">
							<div class="form-group">
								<div class="icon"><span class="icon-user"></span></div>
								<input type="text" class="form-control" name="name"
									   placeholder="Full Name">
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<div class="icon"><span class="icon-phone2"></span></div>
								<input type="text" class="form-control" name="phone" id="phone"
									   placeholder="Phone">
							</div>
						</div>

						<div class="col-sm-5">
							<div class="form-group">
								<div class="icon"><span class="icon-user"></span></div>
								<select class="form-control" name="gender">
									<option >Gender</option>
									<option value="Female">Female</option>
									<option value="Male">Male</option>
								</select>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<div class="icon">Date of Birthday<span></span></div>

								<input type="date" name="date_of_birth" class="form-control" placeholder="Date of Birthday">
							</div>
						</div>

						<div class="form-group">
							<input type="submit" value="Make an Appointment" class="btn btn-outline-primary">
						</div>
					</div>
				</form>

			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}