{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}


<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url({% static 'website/images/bg_1.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span
                            class="mr-2"><a href="index.html"></a></span> <span></span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Appointment</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Appointment Information</h2>

                <h4 class="text-center alert alert-info">Update Information</h4>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" value="update" class="btn btn-success">Update</button>
                    <a href="{% url 'all-appo' %}" class="btn btn-success">back to home</a>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}