
<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <title>{% block title %}Dental Clinic {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.css' %}">
</head>
<body>
{% block body %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<br/>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-8 mb-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update Information</li>
                    </ol>
                </nav>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="idReception"
                           value="{{ form.initial.idReception }}"
                           class="form-control">
                    <input type="hidden" name="name" value="{{ form.initial.name }}"
                           class="form-control">
                    <input type="hidden" name="phone" value="{{ form.initial.phone }}"
                           class="form-control">
                    <input type="hidden" name="gender" value="{{ form.initial.gender }}"
                           class="form-control">
                    <input type="hidden" name="date_of_birth"
                           value="{{ form.initial.date_of_birth }}"
                           class="form-control">
                    <input type="hidden"class="form-control" name="ur" value="{{ form.initial.ur}}">
                         <input type="hidden" class="form-control" name="ul" value="{{ form.initial.ul}}">
                       <input type="hidden" class="form-control" name="lr" value="{{ form.initial.lr}}">
                     <input type="hidden" class="form-control" name="ll" value="{{ form.initial.ll}}">
                    <div class="row">
                        <div class="container">
                                    <div class="col-12">

                                        <div class="card-header">

                                            <h4 style="font-size: 22px; text-align:center;">     First
                                            Visit</h4>
                                        </div>
                                <div class="card">
                                    <div class="card-body">
                                       <div class="form-row">
                                        <div class="col">
                                            <span style="margin-right: 80px;">Date of First Visit</span>
                                            <input type="date" class="form-control" name="first_visit" required
                                                   placeholder="First Visit" value="{{ form.initial.first_visit }}">
                                        </div>
                                       </div>
                                       <div class="form-row">
                                        <div class="col">
                                            <label>Length</label>
                                            <input type="text" class="form-control" name="length" required
                                                   placeholder="Length"
                                                   value="{{ form.initial.length }}">
                                        </div>
                                       <div class="col">
                                           <label>Diameter</label>
                                            <input type="text" class="form-control" name="diameter"
                                                   placeholder="Diameter" required value="{{ form.initial.diameter }}">
                                        </div>
                                       </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label>No of Implant</label>
                                            <input type="text" class="form-control" name="no_Implant"
                                                   placeholder="No. Of Implant" value="{{ form.initial.no_Implant }}"
                                                   required>
                                            </div>

                                            <div class="col">
<label>Shade</label>
                                                <select name="shade" class="form-control" required="required">
                                                    <option value="">Select Shade</option>
                                                    <option value="VITA Shade">VITA</option>
                                                    <option value="A-D Shade">A-D Shade</option>
                                                    <option value="Bleach Shade">Bleach Shade</option>
                                                    <option value="Tetric N-Ceram(16) Shade">Tetric N-Ceram(16)
                                                        Shade
                                                    </option>
                                                    <option value="Tetric N-Flow(10) Shade">Tetric N-Ceram(10)
                                                        Shade
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label>Type Of Implant</label>
                                                {{ form.implant }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label>No Of Unite</label>
                                                <input type="text" class="form-control" name="no_unite"
                                                       value="{{ form.initial.no_unite }}"
                                                       placeholder="No of Unite:" required>
                                            </div>
                                            <div class="col">
                                                <label>Color</label>
                                                <input type="text" class="form-control" name="color"
                                                       value="{{ form.initial.color }}"
                                                       placeholder="Color" required>

                                            </div>
                                        </div>
                                      <div class="form-row">
                                            <div class="col">
                                                <label>Price</label>
                                            <input type="text" name="price" value="{{ form.initial.price }}"
                                                   class="form-control"
                                                   placeholder="Price:" required>
                                        </div>

                                         <div class="col">
                                             <label>Notes</label>
                                            <input type="text" name="note" value="{{ form.initial.note }}"
                                                   class="form-control"
                                                   placeholder="Notes:">
                                        </div>
                                            <div class="col">
                                                <label>Upload Photo</label>
                                                <input type="file" name="exo_images"
                                                       class="form-control"
                                                       multiple>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="alert alert-secondary" role="alert" align="center">
                                            <input type="submit" id="but1" value="Update Oral Surgery"
                                                   class="btn btn-info">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'website/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'website/js/aos.js' %}"></script>
<script src="{% static 'website/js/jquery.animateNumber.min.js' %}"></script>

<script src="{% static 'website/js/scrollax.min.js' %}"></script>


<script src="{% static 'website/js/main.js' %}"></script>
{% endblock %}