{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}


<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Update Information for Patient </h2>

                <h4 class="text-center alert alert-info">Update Information</h4>
                <form method="POST" id="updateForm">
                    {% csrf_token %}
                    {{ form.name }}
                    {{ form.phone }}
                    <select class="form-control" name="gender" required="required">
                        <option value="">Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                    {{ form.date_of_birth }}
                    {{ form.doctor }}
                    <input type="text" name="app_data" class="form-control appointment_date"
									   placeholder="Date of Appointment" required>
                    <select class="form-control" name="days" required="required">
                        <option value="">Days</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                    <input type="text" name="time" class="form-control appointment_time" required placeholder="Time"
                           required>


                    <button type="submit" class="btn btn-success" onclick="validateAndShowAlert()">Update</button>
                </form>

                <script>
    function validateAndShowAlert() {
        var requiredFields = document.querySelectorAll('[required]');
        var allFieldsFilled = true;

        for (var i = 0; i < requiredFields.length; i++) {
            if (!requiredFields[i].value) {
                allFieldsFilled = false;
                break;
            }
        }

        if (allFieldsFilled) {
            showAlert();
        } else {
            alert("Please fill out all required fields.");
        }
    }

    function showAlert() {
        if (confirm("Are you sure you want to update?")) {
            document.getElementById("updateForm").submit();
        }
    }
</script>

            </div>
        </div>
    </div>
</section>

{% endblock %}