{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
</nav>
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Patient Information</li>
            </ol>
        </nav>
         <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
            {% if alert_message %}
                <script>alert("{{ alert_message }}");</script>
            {% else %}
                <h2>User Appointments</h2>
                <ul>
                    {% for appointment in appointments %}
                        <li>
                            <strong>Date:</strong> {{ appointment.date }}<br>
                            <strong>Time:</strong> {{ appointment.time }}<br>
                            <!-- Add other appointment fields as needed -->
                        </li>
                    {% endfor %}
                </ul>

                <!-- Add the link here -->
                <a href="{% url 'user_all' %}?username=&custom_password=custom_password">User All</a>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}