{% extends 'base.html'  %}
{% load static %}
{% block title %} Contact Page{% endblock %}
{% block content %}
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"></a>
</nav>
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Patient Information</li>
            </ol>
        </nav>
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <table class="table table-hover">
                    <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Patient Phone</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Date of Birth</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td scope="row">{{appointment.id}}</td>
                        <td scope="row">{{appointment.name}}</td>
                        <td> {{appointment.phone}}</td>
                        <td> {{appointment.gender}}</td>
                        <td> {{appointment.date_of_birth}}</td>
                        <td> {{appointment.user.role}}</td>
                        <a href="{% url 'gave-appointment' id=appointment.id %}" style="display: inline;"><span
                                        class="btn btn-success btn-xs">Add Appointment</span></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </div>
</div>
</body>
{% endblock %}