{% extends 'base.html'  %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Contact Page{% endblock %}
{% block content %}
{% load custom_filters %}

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>this is to hide td and th-->

<br/>
<body class="nav-md">
<div class="container body">
    <div class="right_col" role="main" style="width: 100%">
<div class="row"
     style="padding-right: 60px; background: #fff; align-content: center; color: white; border-radius: 10px">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Veneer Information</li>
            </ol>
        </nav>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            style="text-align: justify; background-color:#17a2b8; color:#fff">
                        Patient Information
                    </button>
                </h2>
                <p><span style="font-weight: bold;">Full Name:  </span>{{ form.initial.name }}&nbsp;&nbsp;
                    <span style="font-weight: bold;">Phone Number:  </span> {{ form.initial.phone }}&nbsp;&nbsp;
                    <span style="font-weight: bold;">Gender:  </span>{{ form.initial.gender }}&nbsp;&nbsp;
                    <span style="font-weight: bold;">Date of Birth:   </span>{{ form.initial.date_of_birth }}
                </p>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">

                        <table class="table table-hover">
                            <thead style="text-align: justify; background-color:#17a2b8; color:#fff">
                            <tr>

                                <th scope="col" style="text-align: center;">#</th>
                                <th scope="col" style="text-align: center;">Doctor Name</th>
                                <th scope="col" style="text-align: center;">Appointment Date</th>
                                <th scope="col" style="text-align: center;">Day Name</th>
                                <th scope="col" style="text-align: center;">Time</th>
                                <th scope="col" style="text-align: center;" class="hideable">Shade</th>
                                <th scope="col" style="text-align: center;" class="hideable">No of Unite</th>
                                <th scope="col" style="text-align: center;" class="hideable">Color</th>
                                <th scope="col" style="text-align: center;" class="hideable">No of Pre.Unite</th>
                                <th scope="col" style="text-align: center;" class="hideable">Discount Type</th>
                                <th scope="col" style="text-align: center;" class="hideable">Price</th>
                                <th scope="col" style="text-align: center;" class="hideable">Patient Price</th>
                                <th scope="col" style="text-align: center;" class="hideable">Doctor Dis.</th>
                                <th scope="col" style="text-align: center;" class="hideable">Center Dis.</th>
                                <th scope="col" style="text-align: center;" class="hideable">Lab Name</th>
                                <th scope="col" style="text-align: center;" class="hideable">Lab Price</th>
                                <th scope="col"  style="text-align: center;" class="hideable">Notes</th>
                                <th scope="col" style="text-align: center;" class="hideable">Veneer Photo</th>
                                <th scope="col"  style="text-align: center;">Action</th>
                                <th scope="col"  style="text-align: center;">Show Data</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for veneer in veneerr %}
                            <tr>
                                <td  style="text-align: center;" scope="row">{{ veneer.idReception }}</td>
                                <td  style="text-align: center;"scope="row">{{ veneer.idReception.doctor.doctor_name }}</td>
                                <td  style="text-align: center;"scope="row">{{ veneer.idReception.app_data }}</td>
                                <td  style="text-align: center;"scope="row">{{ veneer.idReception.days }}</td>
                                <td  style="text-align: center;"scope="row">{{ veneer.idReception.time|slice:"1:-1" }}</td>
                                <td  style="text-align: center;" scope="row" class="hideable">{{veneer.shade}}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">{{veneer.no_unite}}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">{{veneer.color}}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">{{veneer.no_prepare}}</td>
                                  <td  style="text-align: center;" scope="row" class="hideable">{{veneer.discount_option}}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">
                                    {% if veneer.price is not None %}
                                    {{ veneer.price|format_with_commas }}
                                    {% else %}
                                    None
                                    {% endif %}
                                </td>
                                 <td  style="text-align: center;" scope="row" class="hideable">
                                    {% if veneer.total_price is not None %}
                                    {{ veneer.total_price|format_with_commas }}
                                    {% else %}
                                    None
                                    {% endif %}
                                </td>

                                 <td  style="text-align: center;" scope="row" class="hideable">{{ veneer.doctor_share|format_with_commas }}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">{{ veneer.center_share|format_with_commas }}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">{{ veneer.lab_name }}</td>
                                 <td  style="text-align: center;" scope="row" class="hideable">{{ veneer.price_lab|format_with_commas }}</td>
                                <td  style="text-align: center;" scope="row" align="center" class="hideable">{{veneer.note}}</td>
                                <td  style="text-align: center;" scope="row" align="center" class="hideable">
                                    {% for photos in photos_list %}
                                    {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                    {% for photo in photos %}
                                    <img src="{{ photo.image.url }}" alt="Photo" width="100">
                                    <a href="{% url 'remove_photo_veneer' photo.id %}">Remove</a>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                {% if veneer %}
                                <td style="text-align: center;"><a href="{% url 'veneer_edit' veneer.id %}"
                                                                   style="display: inline;"><img src="{% static 'website/images/edit.png' %}" alt="Edit" style="width: 30px; height: auto;"></a><br/><br/>
                                    <a href="{% url 'delete-veneer'  veneer.id %}" style="display: inline;"><img src="{% static 'website/images/delete.png' %}" alt="Delete" style="width: 30px; height: auto;"></a></td>
                                <td style="text-align: center;"><a href="{% url 'drugs' id=id %}"
                                                                   style="display: inline;"><span
                                        class="btn btn-info">Add Drugs</span></a><br/>
                                    <a href="{% url 'gave-appointment' id=id %}" style="display: inline;"><span
                                            class="btn btn-info">Add Appoint</span></a>
                                    <br/>
                                    <a href="{% url 'print_veneer_debt'  veneer.id  %}" style="display: inline;"
                                       class="btn btn-info">Print UnPaid</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo"
                                style="text-align: justify; background-color:#17a2b8; color:#fff">
                            Veneer Section
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="POST" enctype="multipart/form-data" id="veneer-form">
                                {% csrf_token %}
                                <input type="hidden" name="idReception"
                                       value="{{ form.initial.idReception}}"
                                       class="form-control">
                                <input type="hidden" name="idExo"
                                       value="{{ form.initial.idReception1_id }}"
                                       class="form-control">
                                 <input type="hidden" name="doctor"
                                       value="{{ form.initial.doctor }}"
                                       class="form-control">
                                <input type="hidden" name="educational"
                                       value="{{ form.initial.educational }}"
                                       class="form-control">
                                <input type="hidden" name="name" value="{{ form.initial.name }}"
                                       class="form-control">
                                <input type="hidden" name="phone" value="{{ form.initial.phone }}"
                                       class="form-control">
                                <input type="hidden" name="gender" value="{{ form.initial.gender }}"
                                       class="form-control">
                                <input type="hidden" name="date_of_birth"
                                       value="{{ form.initial.date_of_birth }}"
                                       class="form-control">

                                <div class="container">
                                    <div class="col-6">
                                        <br/>
                                        <br/>
                                        <div class="card-header">
                                            Veneer
                                        </div>
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label>Shade</label>
                                                    <select name="shade" class="form-select" required>
                                                        <option value="">Chose from here</option>
                                                        <option value="VITA Shade">VITA</option>
                                                        <option value="A-D Shade">A-D Shade</option>
                                                        <option value="Bleach Shade">Bleach Shade</option>
                                                        <option value="Tetric N-Ceram(16) Shade">Tetric N-Ceram(16)
                                                            Shade
                                                        </option>
                                                        <option value="Tetric N-Flow(10) Shade">Tetric N-Ceram(10)
                                                            Shade
                                                        </option>
                                                    </select>


                                                </div>
                                                <div class="form-group">
                                                      <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">No of Unite:</label>
                                                    <input type="text" class="form-control" name="no_unite"
                                                           placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                      <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">Color:</label>
                                                    <input type="text" class="form-control" name="color"
                                                           placeholder="" required>

                                                </div>
                                                <div class="form-group">
                                                      <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">No of Prepared Teeth:</label>
                                                    <input type="text" class="form-control" name="no_prepare"
                                                           placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                      <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">Price:</label>
                                                    <input type="text" name="price" value="" id="price" class="form-control"
                                                           placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                      <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">Notes:</label>
                                                    <input type="text" name="note" value="" class="form-control"
                                                           placeholder="">
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                     <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">Select Discount Option:</label>

    <select id="discount_option" name="discount_option" class="form-select" required>
        <option value="" disabled selected>Select Discount Option</option>
        <option value="None">None (where no proportion for doctors just salary)</option>
        <option value="Without Discount">Without Discount</option>
        <option value="With Discount">With Discount</option>
        <option value="Full Discount">Full Discount</option>
        <option value="No Pay">No Pay</option>
    </select>
</div>
                                                    <div class="col-md-3 mb-3">
                                                         <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">Lab Name:</label>
                                                        {{ form.lab_name }}
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                          <label for="{{ form.prefix }}-" style="text-align: left; display: block; font-size: 16px;">Price of Lab:</label>
                                                        <input type="text" name="price_lab" id="price_lab"
                                                               class="form-control"
                                                               placeholder="">
                                                    </div>
                                                <input type="hidden" id="paid" name="paid" value="0"
                                                       class="form-control"
                                                       placeholder="Paid:" required>
                                                <div class="form-group">
                                                    <input type="file" name="exo_images" class="form-control" multiple>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="card-footer text-center">
                                            <input type="submit" value="Add New Veneer"
                                                   class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#veneer-form').submit(function() {
        // Remove commas from the price value before submission
        var priceInput = $('#price');
        var numericPriceValue = priceInput.val().replace(/,/g, '');
        priceInput.val(numericPriceValue);

        // Remove commas from the price_lab value before submission
        var priceLabInput = $('#price_lab');
        var numericPriceLabValue = priceLabInput.val().replace(/,/g, '');
        priceLabInput.val(numericPriceLabValue);
    });

    $('#price, #price_lab').on('input', function() {
        // Remove non-numeric characters except dots (keeping decimals)
        var numericValue = $(this).val().replace(/[^0-9.]/g, '');
        // Format with commas for thousands separators
        var formattedValue = parseFloat(numericValue).toLocaleString('en-US');
        $(this).val(formattedValue);
    });
});
</script>
<script>
    // Run the script after the page has loaded
    $(document).ready(function () {
        // Find all elements with the 'hideable' class
        $('.hideable').each(function() {
            var content = $(this).text().trim();

            // Check the content of each element
            if (content === "None") {
                // Hide the current element
                $(this).hide();

                // If it's a <td> or <th>, find the corresponding <th> by index
                if ($(this).is('td,th')) {
                    var index = $(this).index();
                    $('table th:eq(' + index + ')').hide();
                }
            }
        });
    });
</script>
<script>
    document.getElementById('veneer-form').addEventListener('submit', function(event) {
        const priceLab = document.getElementById('price_lab').value;
        const labName = document.querySelector('[name="lab_name"]').value;

        if ((priceLab && !labName) || (!priceLab && labName)) {
            alert('Please select a lab name when the price lab is filled and vice versa.');
            event.preventDefault();
        }
    });

    document.getElementById('price_lab').addEventListener('input', function() {
        const labNameInput = document.querySelector('[name="lab_name"]');
        if (this.value) {
            labNameInput.setAttribute('required', 'required');
        } else {
            labNameInput.removeAttribute('required');
        }
    });

    document.querySelector('[name="lab_name"]').addEventListener('change', function() {
        const priceLabInput = document.getElementById('price_lab');
        if (this.value) {
            priceLabInput.setAttribute('required', 'required');
        } else {
            priceLabInput.removeAttribute('required');
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.hideable').each(function() {
            var content = $(this).text().trim();
            console.log("Content: ", content);  // Debugging: Print content

            // Check if the content is "None" or "[None]"
            if (content === "None" || content === "[None]") {
                $(this).hide();

                // Hide the corresponding <th> element if <td> or <th> is hidden
                if ($(this).is('td')) {
                    var index = $(this).index();
                    $('table th:eq(' + index + ')').hide();
                }
            }
        });
    });
</script>
{% endblock %}