<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <title>{% block title %}Dental Clinic {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.css' %}">
</head>
<body>
{% block body %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<br/>

<!--
<script type="text/javascript">
function addRows(){
	var table = document.getElementById('emptbl');
	var rowCount = table.rows.length;
	var cellCount = table.rows[0].cells.length;
	var row = table.insertRow(rowCount);
	for(var i =0; i <= cellCount; i++){
		var cell = 'cell'+i;
		cell = row.insertCell(i);
		var copycel = document.getElementById('col'+i).innerHTML;
		cell.innerHTML=copycel;
		if(i == 3){
			var radioinput = document.getElementById('col3').getElementsByTagName('input');
			for(var j = 0; j <= radioinput.length; j++) {
				if(radioinput[j].type == 'radio') {
					var rownum = rowCount;
					radioinput[j].name = 'gender['+rownum+']';
				}
			}
		}
	}
}
function deleteRows(){
	var table = document.getElementById('emptbl');
	var rowCount = table.rows.length;
	if(rowCount > '2'){
		var row = table.deleteRow(rowCount-1);
		rowCount--;
	}
	else{
		alert('There should be atleast one row');
	}
}
                                <td><input type="button" value="Add Row" onclick="addRows()"/></td>
                                <td><input type="button" value="Delete Row" onclick="deleteRows()"/></td>
</script>-->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Drugs</li>
        </ol>
    </nav>
    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight">{{ form.initial.idReception }}</div>
        <div class="p-2 bd-highlight">{{ form.initial.name }}</div>
        <div class="p-2 bd-highlight">{{ form.initial.phone }}</div>
        <div class="p-2 bd-highlight">{{ form.initial.gender }}</div>
        <div class="p-2 bd-highlight">{{ form.initial.date_of_birth }}</div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="p-2 bd-highlight"><a href="{% url 'upload' %}"><button type="button" class="btn btn-danger">For More Information About The Drugs Click on this Link</button></a></div>
    </div>

    <table class="table table-hover">
        <thead style="background-color:#73ccf0; color:#fff;">
        <tr>

            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Drugs Name</th>
            <th scope="col">Doze</th>
            <th scope="col">Type</th>
            <th scope="col">Times</th>
            <th scope="col">Tablet</th>
            <th scope="col">Dispense</th>
            <th scope="col" colspan="2" style="text-align:center;">Other</th>
        </tr>
        </thead>
        <tbody>
        {% for medicin in medicines %}
        <tr>
            <td scope="row">{{ medicin.id }}</td>
            <td scope="row">{{ medicin.name }}</td>
            <td scope="row">{{ medicin.phone }}</td>
            <td scope="row">{{ medicin.gender }}</td>
            <td scope="row">{{ medicin.date_of_birth }}</td>
            <td scope="row" align="center">{{ medicin.name_medicine }}</td>
            <td scope="row" align="center">{{ medicin.doze }}</td>
            <td scope="row" align="center">{{ medicin.type }}</td>
            <td scope="row" align="center">{{ medicin.times }}</td>
            <td scope="row" align="center">{{ medicin.tablet }}</td>
            <td scope="row" align="center">{{ medicin.dispense }}</td>
            <td>
                {% if medicin.id %}
                <a href="{% url 'print-drugs'  medicin.idReception_id  %}" style="display: inline;"
                   class="btn btn-outline-info">Print
                    Drugs</a>
                {% endif %}
            </td>
            <td scope="row"><a href="{% url 'delete-drugs'  medicin.id %}" style="display: inline;"><span
                    class="btn btn-outline-danger">Delete</span></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
<br/>
<div class="container" align="center" id="form-container">

    <form method="POST" novalidate enctype="multipart/form-data" class="form-inline" id="product_form" r>
        {% csrf_token %}
        <input type="hidden" name="idReception"
               value="{{ form.initial.idReception }}"
               class="form-control">
        <input type="hidden" name="name" value="{{ form.initial.name }}"
               class="form-control">
        <input type="hidden" name="phone" value="{{ form.initial.phone }}"
               class="form-control">
        <input type="hidden" name="gender" value="{{ form.initial.gender }}"
               class="form-control">
        <input type="hidden" name="date_of_birth"
               value="{{ form.initial.date_of_birth }}"
               class="form-control">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="col">
                        <label for="{{ form.name_medicine.id_for_label }}"></label>{{ form.name_medicine }}
                    </div>
                    <div class="col">{{ form.doze }}</div>
                    <div class="col"> {{ form.type }}</div>
                    <div class="col">{{ form.tablet }}</div>
                    <div class="col">{{ form.times }}</div>
                    <div class="col">{{ form.dispense }}</div>
                </div>
            </div>
            {{ formset.management_form }}
            {% for form in formset %}
            <div class="col-12">
                <div class="form-row">
                    <div class="col">
                        <label for="{{ form.name_medicine.id_for_label }}"></label>{{ form.name_medicine }}
                    </div>
                    <div class="col">{{ form.doze }}</div>
                    <div class="col">{{ form.type }}</div>
                    <div class="col">{{ form.tablet }}</div>
                    <div class="col">{{ form.times }}</div>
                    <div class="col">{{ form.dispense }}</div>
                </div>
            </div>
            {% endfor %}

            <div class="col-10">
                <div class="form-row">
                    <div class="col">
                        <br/>
                        <button type="submit" class="btn btn-info">Add Drugs</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'website/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'website/js/aos.js' %}"></script>
<script src="{% static 'website/js/jquery.animateNumber.min.js' %}"></script>

<script src="{% static 'website/js/scrollax.min.js' %}"></script>


<script src="{% static 'website/js/main.js' %}"></script>

</body>
</html>
{% endblock %}